@import "./../../../colours.scss";

.proj-container--mobile {
  margin: 0;
}

.mobile-nav {
  display: flex;
  width: 100%;
  .react-tabs__tab {
    flex: 1;
    display: flex;
  }

  .react-tabs__tab-text {
    flex: 1;
    height: 64px;
  }

  .mobile-nav__menu {
    max-width: 64px;
  }
}

.--dark {
  .proj-container--mobile {
    .runner-controls {
      border-left: 1px solid $rpf-grey-600;
    }

    .mobile-nav {
      background-color: $rpf-grey-800;
      border-top: 1px solid $rpf-grey-600;
    }
  }
}

.--light {
  .proj-container--mobile {
    .runner-controls {
      border-left: 1px solid $rpf-grey-150;
    }

    .mobile-nav {
      background-color: $rpf-off-white;
      border-top: 1px solid $rpf-grey-150;
    }
  }
}
