@use "../../spacing" as *;
@use "../../font-size" as *;
@import "../../colours.scss";
@import "../../mixins.scss";

.landing-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  padding: $space-5;
  text-align: center;
}

// Projects

.landing-page__projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  @mixin unique-width($width) {
    @media screen and (min-width: $width) {
      @content;
    }
  }
}

.landing-page__projects--title {
  @include font-size-3(bold);
  margin: $space-1;
}

.landing-page__projects--subtitle {
  @include font-size-2(regular);
  font-weight: var(--font-weight-regular);
  margin: $space-1;
}

.landing-page__projects--login {
  @include font-size-1-25(regular);
  button {
    color: $rpf-teal-900;
    font-weight: var(--font-weight-regular);
    padding: 0;
    text-decoration: underline;
  }
}

// Paths
.landing-page__paths {
  background-color: $rpf-white;
  border-radius: $space-1-5;
  margin: 0 $space-1-5;
  padding: $space-1-5 $space-1 0;

  // Mixin is not working so using media for now
  @media screen and (min-width: 768px) {
    align-items: center;
    display: flex;
    text-align: left;
    padding: 0 $space-2;
  }
}

.landing-page__paths--title {
  @include font-size-1-5(regular);
  font-weight: var(--font-weight-bold);
}

.landing-page__link {
  @include font-size-1(regular);
  color: $rpf-teal-900;
}

.landing-page__paths--start {
  @include font-size-1-5(regular);
  font-weight: var(--font-weight-bold);
}

.landing-page__paths--description {
  @include font-size-1(regular);
}


.--light {
  .landing-page-wrapper {
    background-color: $rpf-teal-100;
  }
}

.--dark {
  .landing-page-wrapper {
    background-color: $rpf-grey-700;
  }
}