@import '../../colours.scss';

.embedded-viewer {
  height: 100%;
  overflow: hidden;

  .proj-runner-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 100%;
  }

  .pythonrunner-container {
    border-radius: 10px;
    flex: 1;
    overflow: hidden;
    box-sizing: border-box;
  }

  .visual-output {
    box-sizing: border-box;
    overflow: auto;
  }
}

.--light {
  .embedded-viewer {
    background-color: $editor-white;
  }
}
