.embedded-container {
}

.embedded-container .pythonrunner-container {
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

.embedded-container .pythonrunner-console {
    max-height: None;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0 16px 16px;
}

.embedded-container .error-message {
    margin-top: 0px;
}


