@import '../../colours.scss';

.run-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.--light {
  .run-bar {
    border-top: 1px solid $rpf-grey-150;
  }
}

.--dark {
  .run-bar {
    border-top: 1px solid $rpf-grey-600;
  }
}
  
