@import '../../colours.scss';

.runner-controls {
  position: absolute;
  bottom: var(--spacing-2);
  right: var(--spacing-2);

  button {
    display: flex;
    align-items: center;
  }
}

.btn--stop {
  color: $editor-white;
  background-color: $editor-black;
  &:hover {
    background-color: $editor-black;
  }
  svg {
    fill: $editor-white;
  }
}

.--dark {
  .btn--stop {
    outline: 2px solid $editor-white;
  }
}

.font-size-large .runner-controls {
  svg {
    margin-left: var(--spacing-1);
  }
}

.font-size-medium .runner-controls {
  svg {
    margin-left: var(--spacing-1)
  }
  .btn--stop {
    svg {
      margin-right: var(--spacing-2)
    }
  }
}
