@import '../../colours.scss';
@import '../../spacing.scss';

.runner-controls {
  position: absolute;
  bottom: $space-1-5;
  right: $space-1-5;

  button {
    display: flex;
    align-items: center;
  }
}

.btn--stop {
  color: $rpf-white;
  background-color: $rpf-black;
  &:hover {
    background-color: $rpf-black;
  }
  svg {
    fill: $rpf-white;
  }
}

.--dark {
  .btn--stop {
    outline: 2px solid $rpf-white;
  }
}
