@import '../../colours.scss';

.runner-controls {
  position: absolute;
  bottom: var(--spacing-2);
  right: var(--spacing-2);

  button {
    display: flex;
    align-items: center;

    svg {
      min-width: 0;
      margin-right: var(--spacing-1)
    }
  }
}

.btn--stop {
  color: white;
  background-color: $editor-black;
  &:hover {
    background-color: $editor-black;
  }
}
