@use '../../../spacing' as *;
@use '../../../font-size' as *;

.error-message {
  color: #7e0305;
  background-color: #FDE2E1;
  padding: $space-0-75 $space-1-25;

  &__content {
    padding: 0;
    margin: 0;
  }

  &--medium {
    @include font-size-1-5(regular);
  }

  &--large {
    @include font-size-2(regular);
  }
}
