@import "../../../../colours.scss";

.project-images {
  flex: 1;
  text-align: center;

  // &__wrapper {
  //   height: 100%;
  //   overflow-y: scroll;
  // }

  &__block {
    display: inline-block;
    box-sizing: border-box;
    padding-left: var(--spacing-1);
    word-break: break-all;
    text-align: center;
    vertical-align: top;
  }

  &__image-wrapper {
    height: var(--spacing-9);
    width: var(--spacing-9);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    max-height: 100%;
    max-width: 100%;
  }

  p {
    width: var(--spacing-9);
    margin-top: 0;
    margin-bottom: var(--spacing-1)
  }
}

.font-size-medium {
  .project-images__block {
    &__container {
      height: calc(1.2*var(--spacing-9));
      width: calc(1.2*var(--spacing-9));
    }
    p {
      width: calc(1.2*var(--spacing-9));
    }
  }
}

.font-size-large {
  .project-images__block {
    &__container {
      height: calc(1.44*var(--spacing-9));
      width: calc(1.44*var(--spacing-9));
    }
    p {
      width: calc(1.44*var(--spacing-9));
    }
  }
}
