@import '../../colours.scss';

.editor-global-nav-wrapper {
  z-index: 2;
}

.editor-global-nav {
  display: flex;
  align-items: center;
  background-color: $rpf-dark-blue;
  height: 100%;
  z-index: 2;

  &__account {
    margin-left: auto;
    margin-right: var(--space-2);
    height: 100%;

    svg {
      fill:  $rpf-white;
      margin: 0 0 0 var(--space-0-5);
    }

    .dropdown-button {
      padding: 0 var(--space-1-5);

      &:hover {
        svg {
          fill: $editor-white;
        }
      }
    }

    img {
      height: var(--space-2-5);
      margin: var(--space-0-25) 0;
    }
  }

  &__home {
    display: flex;
    align-items: center;
    margin-left: var(--space-5);
    padding: var(--space-0-5) 0;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: $rpf-white;

    span {
      margin-left: var(--space-1-5);
    }

    &:visited {
      color: $rpf-white;
    }
  }
}

.--dark {
  .editor-global-nav {
    background-color: $rpf-darkmode-grey15;
  }
}
