@import '../../../colours.scss';

.dropdown {
  position: relative;
  height: 100%;

  &-button {
    display: flex;
    align-items: center;
    height: 100%;

    padding: 0 var(--spacing-2);
    svg {
      margin-right: var(--spacing-1)
    }
  }
  &-container {
    z-index: 2;
    position: absolute;
    padding: var(--spacing-1);
    border-radius: 10px;
    margin-top: var(--spacing-2);

    &--bottom::before {
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      position: absolute;
      bottom: 100%;
      left: 50%;
      content: '';
    }
  }
  &-backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
  }
}

.--light {
  .dropdown-container {
    background-color: white;
    box-shadow: 0 0 5px 2px $editor-light-grey;

    &--bottom::before {
      border-bottom: 15px solid white;
    }
  }
  .dropdown-backdrop {
    background-color: $editor-grey;
  }
  .dropdown-button--active {
    border-bottom: 5px solid $editor-turquoise;
    margin-bottom: -5px;
  }
}

.--dark {
  .dropdown-container {
    background-color: $editor-dark;
    box-shadow: 0 0 5px 2px $editor-dark-dark-dark;

    &--bottom::before {
      border-bottom: 15px solid $editor-dark;
    }
  }
  .dropdown-backdrop {
    background-color: black;
  }
  .dropdown-button--active {
    background-color: $editor-turquoise-grey;
    border-bottom: 5px solid $editor-turquoise;
    margin-bottom: -5px;
  }
}

.font-size-medium {
  .dropdown-container {
    padding: var(--spacing-2);
  }
}

.font-size-large {
  .dropdown-container {
    padding: var(--spacing-2) var(--spacing-3);
  }
}

// .dropdown-container--bottom::before {
//   width: 0;
//   height: 0;
//   border-left: 15px solid transparent;
//   border-right: 15px solid transparent;
//   border-bottom: 15px solid white;
//   position: absolute;
//   bottom: 100%;
//   left: 50%;
//   content: '';
// }
