@import '../../../colours.scss';

.dropdown {
  position: relative;
  height: 100%;

  &-container {
    z-index: 2;
    position: absolute;
  }
  &-button {
    display: flex;
    align-items: center;
    height: 100%;

    padding: 0 var(--spacing-2);
    svg {
      margin-right: var(--spacing-1)
    }
  }
  &-container {
    padding: var(--spacing-1);
    border-radius: 10px;
    margin-top: var(--spacing-1);
  }
  &-backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
  }
}

.--light {
  .dropdown-container {
    background-color: white;
    box-shadow: 0 0 5px 2px $editor-light-grey;
  }
  .dropdown-backdrop {
    background-color: $editor-grey;
  }
  .dropdown-button--active {
    border-bottom: 5px solid $editor-turquoise;
    margin-bottom: -5px;
  }
}

.--dark {
  .dropdown-container {
    background-color: $editor-dark;
    box-shadow: 0 0 5px 2px $editor-dark-dark-dark;
  }
  .dropdown-backdrop {
    background-color: black;
  }
  .dropdown-button--active {
    background-color: $editor-turquoise-grey;
    border-bottom: 5px solid $editor-turquoise;
    margin-bottom: -5px;
  }
}

.font-size-medium {
  .dropdown-container {
    padding: var(--spacing-2);
  }
}

.font-size-large {
  .dropdown-container {
    padding: var(--spacing-3);
  }
}
