{
  "presets": [
    "react-app",
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "python", "html"],
        "plugins": [
          "line-numbers",
          "line-highlight",
          "highlight-keywords",
          "normalize-whitespace"
        ],
        "theme": "twilight",
        "css": true
      }
    ]
  ]
}
