{
  "enabled": true,
  "extends": ["stylelint-config-recommended-scss"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "block-no-empty": null,
    "declaration-block-single-line-max-declarations": 1,
    "unit-allowed-list": [
      "%",
      "deg",
      "em",
      "fr",
      "ms",
      "px",
      "rem",
      "s",
      "vh",
      "vw",
      "svh",
      "dvh"
    ],
    "at-rule-no-unknown": true
  }
}
