x-app: &x-app
  build:
    context: .
  volumes:
    - .:/app
    - node_modules:/app/node_modules
    - /var/run/docker.sock:/var/run/docker.sock
  stdin_open: true
  environment:
    - GITHUB_TOKEN=${GITHUB_TOKEN}
services:
  app:
    <<: *x-app
    command: sh -c "yarn install && yarn start"
    ports:
      - "3011:3011"
volumes:
  node_modules: null
