x-app: &x-app
  build:
    context: .
  volumes:
    - .:/app
    - node_modules:/app/node_modules
    - /var/run/docker.sock:/var/run/docker.sock
  stdin_open: true
services:
  app:
    <<: *x-app
    command: yarn start
    ports:
      - "3012:3012"
volumes:
  node_modules: null
