.btn, .btn:visited {
  background-color: #004881;
  border-width: 0;
  color: #fff;
  display:inline-block;
  font-family: sans-serif;
  font-weight: 500;
  margin: 6px;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-duration: 100ms;
  transition-property: background-color,transform;
  transition-timing-function: ease-in-out;
}

.btn:hover {
  background-color: #cd2355;
  color: #fff;
  transform: scale(1.05);
}

.btn--disabled {
  background-color: #6c6c6c;
}

.btn--disabled:hover {
  background-color: #6c6c6c;
}

