@import '../../colours.scss';

//TODO: These will be added with the colour palette update (I assume)
$rpf-text: #212121;
$rpi-grey-5: #F2F2F2;
$rpi-grey-15: #D9D9D9;
$rpi-grey-40: #999999;
$rpi-grey-70: #4c4c4c;
$rpf-brand-raspberry: #CD2355;

@mixin button-styling($bg, $c, $active-bg, $dis-bg, $dis-c, $focus-bg, $hover-bg) {
  background-color: $bg;
  color: $c;

  svg {
    fill: $c;
  }

  &:active {
    background-color: $active-bg;
  }

  &:disabled {
    background-color: $dis-bg;
    color: $dis-c;
  
    svg {
      fill: $dis-c;
    }
  }

  &:focus-visible {
    background-color: $focus-bg;
  }
  
  &:hover {
    background-color: $hover-bg;
  }
}

.btn {
  align-items: center;
  border-radius: 5px;
  border: 3px solid transparent;
  display: inline-flex;
  font-family: sans-serif;
  font-size: inherit;
  font-weight: var(--font-weight-bold);
  margin: 6px;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: fit-content;

  &:focus-visible {
    border: 3px solid $rpf-brand-raspberry;
  }

  svg {
    margin-right: var(--spacing-1);
  }

  &:disabled {
    background-color: $editor-grey;
    color: $editor-white;
    cursor: default;
  }

  &--primary {
    $colours: $rpf-teal, $rpf-text, $rpf-teal-tint-25, $rpf-teal-tint-75, $rpi-grey-70, $rpf-teal, $rpf-teal-shade-20;
    @include button-styling($colours...);
  }

  &--secondary {
    background-color: $rpi-grey-15;

    &:active {
      background-color: $rpi-grey-5;
      border: 3px solid $rpf-teal-shade-20;
    }

    &:disabled {
      background-color: $rpi-grey-5;
      color: $rpi-grey-70;

      svg {
        fill: $rpi-grey-70;
      }
    }

    &:focus-visible {
      background-color: $rpi-grey-15;
    }

    &:hover {
      background-color: $rpi-grey-40;
    }
  }

  &--tertiary {
    background-color: inherit;
    color: inherit;
    margin: 0;

    &:active {
      color: $rpf-teal-shade-20;

      svg {
        fill: $rpf-teal-shade-20;
      }
    }

    &:disabled {
      background-color: inherit;
      color: $rpi-grey-70;

      svg {
        fill: $rpi-grey-70;
      }
    }

    &:focus-visible {
      color: $rpf-text;

      svg {
        fill: $rpf-text;
      }
    }

    &:hover {
      color: $rpi-grey-70;

      svg {
        fill: $rpi-grey-70;
      }
    }
  }
}

.font-size-large {
  .btn svg {
    margin-right: var(--spacing-2);
  }
}

.--dark {
  .btn--primary {
    background-color: $rpf-teal-tint-50;

    &:active {
      background-color: $rpf-teal-tint-75;
    }

    &:disabled {
      background-color: $rpf-darkmode-grey80;
      color: $rpf-darkmode-grey22;

      svg {
        fill: $rpf-darkmode-grey22;
      }
    }

    &:focus-visible {
      background-color: $rpf-teal-tint-50;
    }

    &:hover {
      background-color: $rpf-teal-tint-25;
    }
  }

  .btn--secondary {
    background-color: $editor-mid-light-grey;

    &:hover {
      background-color: $editor-mid-grey;
    }
  }
}

