@import '../../colours.scss';

@mixin button-styling($bg, $active-bg, $dis-bg, $dis-c, $focus-bg, $hover-bg, $c: default) {
  background-color: $bg;

  @if $c == 'default' {
    color: $rpf-text-black;

    svg {
      fill: $rpf-text-black;
    }
  } @else {
    color: $c;

    svg {
      fill: $c;
    }
  }

  &:active, .btn-outer:active & {
    background-color: $active-bg;
    @content;
  }

  &:disabled {
    background-color: $dis-bg;
    color: $dis-c;
  
    svg {
      fill: $dis-c;
    }
  }

  &:focus-visible, .btn-outer:focus-visible & {
    background-color: $focus-bg;
    @content;
  }
  
  &:hover, .btn-outer:hover & {
    background-color: $hover-bg;
    @content;
  }
}

.btn {
  align-items: center;
  border-radius: 8px;
  border: 3px solid transparent;
  cursor: pointer;
  display: inline-flex;
  font-family: sans-serif;
  font-size: inherit;
  font-weight: var(--font-weight-bold);
  justify-content: center;
  margin: 6px;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: fit-content;

  &:disabled {
    background-color: $rpf-darkmode-grey32;
    color: $rpf-white;
    cursor: default;
  }

  &:focus-visible {
    border: 3px solid $rpf-brand-raspberry;
    outline: none;
  }

  svg {
    margin-right: var(--spacing-1);
  }

  &--small {
    padding: var(--spacing-four);
  }

  // Variants
  &--primary {
    $colours: $rpf-teal, $rpf-teal-tint-25, $rpf-teal-tint-75, $rpi-grey-70, $rpf-teal, $rpf-teal-shade-20;
    @include button-styling($colours...);
  }

  &--secondary {
    $colours: $rpi-grey-15, $rpi-grey-5, $rpi-grey-5, $rpi-grey-70, $rpi-grey-15, $rpi-grey-40;
    @include button-styling($colours...);

    &:active {
      border: 3px solid $rpf-teal-shade-20;
    }
  }

  &--tertiary {
    $colours: inherit, inherit, inherit, $rpi-grey-70, inherit, inherit, inherit;
    @include button-styling($colours...);
    margin: 0;

    &:active {
      color: $rpf-teal-shade-20;

      svg {
        fill: $rpf-teal-shade-20;
      }
    }

    &:hover {
      color: $rpi-grey-70;

      svg {
        fill: $rpi-grey-70;
      }
    }
  }
}

.btn-outer {
  background: transparent;
  cursor: pointer;
  padding: var(--spacing-eight) 0;
  display: flex;
  align-items: center;

  &:focus-visible {
    outline: none;

    .btn {
      border: 3px solid $rpf-brand-raspberry;
    }
  }
}

.font-size-large {
  .btn svg {
    margin-right: var(--spacing-2);
  }
}

.--dark {
  .btn-outer {
    &:hover {
      .btn--primary {
        background-color: $rpf-teal-tint-25;
      }

      .btn--secondary {
        background-color: $rpf-darkmode-grey22;
      }

      .btn--tertiary {
        background-color: inherit;
      }
    }

    &:active {
      .btn--primary {
        background-color: $rpf-teal-tint-75;
      }

      .btn--secondary {
        background-color: $rpf-darkmode-grey22;
      }

      .btn--tertiary {
        background-color: inherit;
      }
    }

    &:focus-visible {
      .btn--primary {
        background-color: $rpf-teal-tint-50;
      }

      .btn--secondary {
        background-color: $rpf-darkmode-grey32;
      }

      .btn--tertiary {
        background-color: inherit;
      }
    }
  }

  .btn--primary {
    $colours: $rpf-teal-tint-50, $rpf-teal-tint-75, $rpf-darkmode-grey80, $rpf-darkmode-grey22, $rpf-teal-tint-50, $rpf-teal-tint-25;
    @include button-styling($colours...);
  }

  .btn--secondary {
    $colours: $rpf-darkmode-grey32, $rpf-darkmode-grey22, $rpf-darkmode-grey22, $rpf-darkmode-grey90, $rpf-darkmode-grey32, $rpf-darkmode-grey22, $rpf-white;
    @include button-styling($colours...);

    &:active {
      border: 3px solid $rpf-teal-shade-20;
    }
  }

  .btn--tertiary {
    $colours: inherit, inherit, inherit, $rpf-darkmode-grey90, inherit, inherit, $rpf-white;
    @include button-styling($colours...);

    &:active {
      color: $rpf-teal-tint-75;

      svg {
        fill: $rpf-teal-tint-75;
      }
    }

    &:hover {
      color: $rpf-darkmode-grey85;

      svg {
        fill: $rpf-darkmode-grey85;
      }
    }
  }
}

