@import '../../colours.scss';

.btn {
  align-items: center;
  border-radius: 5px;
  border-width: 0;
  display: inline-flex;
  font-family: sans-serif;
  font-size: inherit;
  font-weight: var(--font-weight-bold);
  margin: 6px;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: fit-content;

  svg {
    margin-right: var(--spacing-1);
  }

  &:disabled {
    background-color: $editor-grey;
    color: $editor-white;
    cursor: default;

    &:hover {
      background-color: $editor-grey;
    }
  }

  &--primary {
    background-color: $rpf-teal;
    color: $editor-black; //TODO: Update to rpi-text when in

    svg {
      fill: $editor-black;
    }

    &:active {
      background-color: $rpf-teal-tint-25;
    }

    &:disabled {
      background-color: $rpf-teal-tint-75;
      color: #4c4c4c; //TODO: Update to rpi-grey-70 when in

      svg {
        fill: #4c4c4c;
      }
    }

    &:focus-visible {
      background-color: $rpf-teal;
    }

    &:hover {
      background-color: $rpf-teal-shade-20;
    }
  }

  &--secondary {
    background-color: #D9D9D9; //TODO: update to rpi-grey-15

    &:active {
      background-color: #F2F2F2; //TODO: update to rpi-grey-5
      outline: 2px solid $rpf-teal-shade-20;
    }

    &:disabled {
      background-color: #F2F2F2;
      color: #4c4c4c; //TODO: Update to rpi-grey-70 when in

      svg {
        fill: #4c4c4c; //TODO: Update to rpi-grey-70 when in
      }
    }

    &:focus-visible {
      background-color: #D9D9D9; //TODO: update to rpi-grey-15
    }

    &:hover {
      background-color: #999999; //TODO: update to rpi-grey-40
    }
  }

  &--tertiary {
    background-color: inherit;
    color: inherit;
    border-radius: 0;
    margin: 0;

    &:hover {
      background-color: inherit;
    }
  }
}

.--dark {
  .btn--primary {
    background-color: $rpf-teal-tint-50;

    &:active {
      background-color: $rpf-teal-tint-75;
    }

    &:disabled {
      background-color: $rpf-darkmode-grey80;
      color: $rpf-darkmode-grey22;

      svg {
        fill: $rpf-darkmode-grey22;
      }
    }

    &:focus-visible {
      background-color: $rpf-teal-tint-50;
    }

    &:hover {
      background-color: $rpf-teal-tint-25;
    }
  }

  .btn--secondary {
    background-color: $editor-mid-light-grey;

    &:hover {
      background-color: $editor-mid-grey;
    }
  }
}

.font-size-large {
  .btn svg {
    margin-right: var(--spacing-2);
  }
}
