@import "../../colours.scss";

.menu {
  display: flex;

  .menu-sidebar {
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    .menu-options-top{
      display: flex;
      flex-direction: column;
      padding-top: var(--spacing-3);
      padding-bottom: var(--spacing-9)
    }
    .menu-options-bottom {
      display: flex;
      flex-direction: column;
      padding-top: var(--spacing-9)
    }

    .menu-sidebar-option {
      padding: var(--spacing-1);
      border-radius: 5px;
    }
  }

  .menu-pop-out {
    width: 20vw;

    .menu-pop-out-heading {
      font-family: Tahoma;
      font-weight: var(--font-weight-bold);
      margin-left: var(--spacing-2)
    }

    summary {
      margin: var(--spacing-1)
    }

    .menu-pop-out-subheading {
      display: inline;
    }

    .menu-pop-out-option {
      display: flex;
      padding: var(--spacing-1);
      align-items: center;

      &:hover {
        text-decoration: underline;
      }

      .menu-pop-out-option-text {
        padding-left: var(--spacing-1)
      }
    }
  }
}
.--light {
  .menu-pop-out {
    background-color: $editor-light-grey;
  }
  .menu-sidebar-option {
    svg {
      fill: $editor-grey
    }
  }
  .--active {
    background-color: $editor-pale-blue;
    svg {
      fill: $editor-blue
    }
  }
}

.--dark {
  .menu-sidebar-option {
    svg {
      fill: white
    }
  }
  
  .menu-pop-out {
    background-color: $editor-dark-dark;
  }
  .menu-sidebar {
    background: #363943;
  }
  .--active {
    background-color: $editor-pale-purple;
    svg {
      fill: $editor-black
    }
  }
}

.font-size-small {
  .menu-pop-out-heading {
    font-size: var(--font-size-u-2)
  }
  .menu-pop-out-subheading {
    font-size: var(--font-size-base)
  }
}

.font-size-medium {
  .menu-pop-out-heading {
    font-size: var(--font-size-u-4)
  }
  .menu-pop-out-subheading {
    font-size: var(--font-size-u-2)
  }
}

.font-size-large {
  .menu-pop-out-heading {
    font-size: var(--font-size-u-6)
  }
  .menu-pop-out-subheading {
    font-size: var(--font-size-u-4)
  }
}

