@import '../../colours.scss';

.editor-project-list-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-4);
  svg {
    margin: 0;
  }
}

.editor-project-pagination__buttons {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;

  .btn {
    margin: 0 var(--spacing-half)
  }
}

.editor-project-list-pagination__current-page {
  height: 100%;
  box-sizing: border-box;
  padding: var(--spacing-1) calc(1.6*var(--spacing-1));
  margin: 0 var(--spacing-half);
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-bold)
}

.--light {
  .editor-project-list-pagination__current-page {
    background-color: $rpf-white;
  }
}

.--dark {
  .editor-project-list-pagination__current-page {
    background-color: $rpf-darkmode-grey42;
  }
}

