@use '../../../../../spacing' as *;
@use '../../../../../font-size' as *;
@use '../../../../../font-weight' as *;
@use '../../../../../colours' as *;

.project-info {
  align-items: left;
  display: flex;
  flex-direction: column;
  padding: $space-1;
  border-radius: $space-0-5;
  border: none;
  background-color: inherit;

  .btn--primary {
    margin: 0 $space-0-5;
  }
}

.project-type__label {
  @include font-size-1(regular);
  font-weight: $font-weight-bold;
  margin-bottom: $space-0-5;
  display: block;
}

.project-type__text {
  @include font-size-1(regular);
  color: inherit;
  text-overflow: ellipsis;
}

.--light {
  .project-info {
    background-color: $rpf-grey-50;
  }
}

.--dark {
  .project-info {
    background-color: $rpf-grey-600;
  }
}
