@use '../../../../spacing' as *;
@import '../../../../colours.scss';

.output-view-toggle__button {
  height: 100%;
}

.--light .output-view-toggle {
  border-left: 1px solid $rpf-grey-150;
}

.--dark .output-view-toggle {
  border-left: 1px solid $rpf-grey-600;
}
