@import "../../../../../colours.scss";

.project-images {
  text-align: center;

  &__block {
    display: inline-block;
    box-sizing: border-box;
    padding-left: var(--space-0-5);
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: center;
    vertical-align: top;
  }

  &__image-wrapper {
    height: var(--space-5-5);
    width: var(--space-5-5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  &__image {
    max-height: 100%;
    max-width: 100%;
  }

  p {
    width: var(--space-5-5);
    margin-top: 0;
    margin-bottom: var(--space-0-5)
  }
}
