.menu {
  display: flex;
  position: relative;
}

.menu-sidebar {
  width: 44px;
  text-align: center;
}

.menu-sidebar-option {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;

  svg {
    margin: 0;
  }
}

.menu-collapse-button, .menu-expand-button {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 44px;
  width: 44px;
  box-sizing: border-box;
  padding: var(--space-0-25) 0;
  text-align: center;

  .btn {
    box-sizing: border-box;
    justify-content: center;
    height: 32px;
    width: 32px;
  }

  svg {
    margin: 0;
  }
}
