@use '../../../../colours' as *;

.htmlrunner-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.htmlrunner-link {
  margin-left: auto;
}

.htmlrunner-iframe {
  border: none;
  background-color: $rpf-white;
  height: 100%;
  width: 100%;
}
