@use '../../../../colours' as *;

.htmlrunner-container {
  height: 100%;
  width: 100%;
}

.htmlrunner-iframe {
  border: none;
  background-color: $rpf-white;
  border: 1px solid #ddd;
  height: 100%;
  width: 100%;
}
