@use "../../../spacing" as *;
@use "../../../font-size" as *;
@import "../../../colours.scss";

.sidebar {
  display: flex;
  flex-shrink: 0;
  position: relative;
  scrollbar-width: none;
}

.sidebar--mobile {
  height: 100dvh;
  width: 100%;
}

.sidebar__bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  padding: $space-0-75 0 $space-0-5 0;
}

.sidebar__bar--selected {
  border-radius: 8px 0 0 8px;
}

.sidebar__bar-options--top,
.sidebar__bar-options--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $space-0-5;
}

.sidebar__panel {
  display: flex;
  flex-direction: column;
  padding: $space-1;
  border-radius: 0 8px 8px 0;
  width: inherit;
}

.sidebar__panel-heading {
  margin: 0;
  @include font-size-1-5(regular);
}

.sidebar__panel-header {
  display: flex;
  flex-direction: column;
  gap: $space-1;
  padding-bottom: $space-1;
}

.sidebar__panel-content {
  flex: 1;
  padding: $space-1 0;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-bottom: $space-2;
}

.sidebar__bar-option-wrapper {
  padding: 6px 11px 6px 6px;
  margin: 0 -1px 0 4px;
  border-radius: 100% 0 0 100%;
}

.sidebar__bar-option {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 100%;
  margin: 0;

  svg {
    margin: 0;
  }
}

.sidebar-collapse-button,
.sidebar-expand-button {
  box-sizing: border-box;
  padding: $space-0-25 0;
  text-align: center;

  .btn {
    box-sizing: border-box;
    justify-content: center;
    height: 32px;
    width: 32px;
  }

  svg {
    margin: 0;
  }
}

.editor-logo {
  height: $space-2-5;
  width: $space-2-5;
}

.--dark {
  .sidebar__bar--selected {
    border-right: 1px solid $rpf-grey-600;
  }

  .sidebar__bar-option:hover {
    background-color: $rpf-grey-600;
  }

  .sidebar__bar-option--selected {
    background-color: $rpf-teal-400;

    svg {
      fill: $rpf-black;
    }
  }

  .sidebar__bar-option--selected:hover {
    background-color: $rpf-teal-primary-hover-darkmode;
  }

  .sidebar__bar-option-wrapper {
    border: 1px solid $rpf-grey-800;
    border-right: none;
  }

  .sidebar__bar-option-wrapper--selected {
    border: 1px solid $rpf-grey-600;
    border-right: none;
    background-color: $rpf-grey-700;
  }

  .sidebar__panel {
    background-color: $rpf-grey-700;
  }

  .sidebar__panel-header {
    border-bottom: 1px solid $rpf-grey-600;
  }
}

.--light {
  .sidebar__bar {
    background-color: $rpf-white;

    &.sidebar__bar-option-wrapper {
      border: 1px solid $rpf-white;
    }
  }

  .sidebar__bar--selected {
    background-color: $rpf-off-white;
    border-right: 1px solid $rpf-grey-150;

    &.sidebar__bar-option-wrapper {
      border: 1px solid $rpf-off-white;
    }
  }

  .sidebar__bar-option:hover {
    background-color: $rpf-grey-100;
  }

  .sidebar__bar-option--selected {
    background-color: $rpf-teal-800;
  }

  .sidebar__bar-option--selected:hover {
    background-color: $rpf-teal-primary-hover;
  }

  .sidebar__bar-option-wrapper {
    border-right: none;
  }

  .sidebar__bar-option-wrapper--selected {
    border: 1px solid $rpf-grey-150;
    border-right: none;
    background-color: $rpf-white;
  }

  .sidebar__panel-header {
    border-bottom: 1px solid $rpf-grey-150;
  }
}
