@use '../../../spacing' as *;
@import '../../../colours.scss';

.sidebar {
  display: flex;
  position: relative;
  // overflow: hidden;
  // height: 100%;
  // box-sizing: border-box;
}

.sidebar__bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}

.sidebar__bar--active {
  border-radius: 8px 0 0 8px;
}

.sidebar__panel {
  border-radius: 0 8px 8px 0;
  overflow-y: auto;
  overflow-x: visible;
  // box-sizing: content-box;
}

.sidebar__bar-option {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  svg {
    margin: 0;
  }
}

.sidebar-collapse-button, .sidebar-expand-button {
  box-sizing: border-box;
  padding: $space-0-25 0;
  text-align: center;

  .btn {
    box-sizing: border-box;
    justify-content: center;
    height: 32px;
    width: 32px;
  }

  svg {
    margin: 0;
  }
}

.--dark .sidebar__bar-option--active, .--light .sidebar__bar-option--active {
  background-color: $rpf-teal-600;
  border-radius: 100%;

  svg {
    fill: $rpf-black;
  }
}

.--dark {
  .sidebar__bar--active {
    border-right: 1px solid $rpf-grey-600;
  }

  .sidebar__panel {
    background-color: $rpf-grey-700;
  }
}

.--light {
  .sidebar__bar--active {
    background-color: $rpf-off-white;
    border-right: 1px solid $rpf-grey-150;
  }
}

