@use '../../../spacing' as *;
@import '../../../colours.scss';

.sidebar {
  display: flex;
  position: relative;
}

.sidebar__bar {
  text-align: center;
}

.sidebar__bar-option {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  svg {
    margin: 0;
  }
}

.sidebar-collapse-button, .sidebar-expand-button {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 44px;
  width: 44px;
  box-sizing: border-box;
  padding: $space-0-25 0;
  text-align: center;

  .btn {
    box-sizing: border-box;
    justify-content: center;
    height: 32px;
    width: 32px;
  }

  svg {
    margin: 0;
  }
}

.--dark .sidebar__bar-option--active, .--light .sidebar__bar-option--active {
  background-color: $rpf-teal-600;
  border-radius: 100%;

  svg {
    fill: $rpf-black;
  }
}

