@use '../../../spacing' as *;
@use '../../../colours' as *;

.context-menu__drop {
  display: flex;
  padding: $space-0-5 $space-1;
  margin: 0;

  svg {
    margin: 0;
  }
}

.context-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: $space-0-5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .context-menu__item {
    margin: 0;
    background-color: inherit;
    color:  inherit;
    padding: $space-0-5;
    text-align: left;
    white-space: nowrap;
    overflow-x: visible;
    box-sizing: border-box;
    width: 100%;
    justify-content: left;
  }

  svg {
    height: 0.75em;
    width: auto;
  }

  &--dark {
    background-color: $rpf-black;
    color: $rpf-white;
    border: 1px solid transparent;

    svg {
      fill: $rpf-white;
    }

    .btn:hover {
      background-color: $rpf-grey-700;
    }

    .btn:disabled {
      color: $rpf-grey-600;
    }
  }

  &--light {
    background-color: $rpf-white;
    color: $rpf-text-primary;
    border: 1px solid $rpf-grey-150;

    svg {
      fill: $rpf-black;
    }

    .btn:hover {
      background-color: $rpf-grey-100;
    }

    .btn:disabled {
      color: $rpf-grey-300;
    }
  }

  &--dark .btn:disabled svg {
    fill: $rpf-grey-600;
  }

  &--light .btn:disabled svg {
    fill: $rpf-grey-100;
  }

  .btn:disabled:hover {
    background-color: inherit;
  }
}
