@import '../../../colours.scss';

.proj-runner-container {
  height: 100%;

  .pythonrunner-container {
    height: 100%;
  }
}

.--dark {
  .proj-runner-container {
    .react-tabs__tab-panel {
      background-color: $editor-dark-dark-dark;
    }
  }
}
