.project-image-block {
    display: inline-block;
    width: 50%;
    word-break: break-all;
    text-align: center;
    vertical-align: top;
}

.project-image {
    width: 100%;
}

.project-image-gallery {
    margin: 5px;
}

.project-images {
  height: 135px;
  overflow-y: scroll;
}
