@import "../../../../colours.scss";

.image-gallery {
  overflow-y: scroll;

  summary {
    position: fixed;
  }
}

.project-image-block {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding-left: var(--spacing-1);
    word-break: break-all;
    text-align: center;
    vertical-align: top;
}

.project-image {
    width: 100%;
}

.project-images {
padding-top: var(--spacing-4)
}

.--light {
  .image-gallery{
    summary {
      background-color: $editor-light-grey;
    }
  }
}
.--dark {
  .image-gallery{
    summary {
      background-color: $editor-dark-dark;
    }
  }
}
