@use "../../../spacing" as *;
@use "../../../font-size.scss" as *;
@import "../../../colours.scss";

.mobile-project-bar {
  display: flex;
  justify-content: space-between;
  background-color: $rpf-white;
}

.mobile-project-bar__name {
  @include font-size-1(regular);
  color: $rpf-text-secondary;
  font-weight: var(--font-weight-bold);
  margin-inline-start: $space-1;
}
