@use "../../../spacing" as *;
@use "../../../font-size.scss" as *;
@use '../../../font-weight.scss' as *;
@import "../../../colours.scss";

.mobile-project-bar {
  background-color: $rpf-white;
  border-top: 1px solid $rpf-grey-150;
  display: flex;
  height: 25px;
  justify-content: space-between;
  padding: 0 $space-0-5;
}

.mobile-project-bar__name {
  @include font-size-0-75(regular);
  font-weight: $font-weight-bold;
  margin: auto 0;
}

.--dark {
  .mobile-project-bar {
    background-color: $rpf-grey-800;
    border-top: 1px solid $rpf-grey-600;
  }

  .mobile-project-bar__name {
    color: $rpf-white;
  }
}

.--light {
  .mobile-project-bar {
    background-color: $rpf-white;
    border-top: 1px solid $rpf-grey-150;
  }

  .mobile-project-bar__name {
      color: $rpf-text-secondary;
  }
}
