@use '../../../../spacing' as *;
@use "../../../../colours.scss" as *;

.projects-panel-wrapper {
  .sidebar__panel-content {
    overflow: visible;
  }

  .projects-panel__your-projects-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0;

    a {
      color: $rpf-black;
      text-decoration: none;
    }
  }

  .projects-panel__button {
    padding: $space-1 0;
  }

  .projects-panel__download-button {
    width: 100%;
    margin: 0;
  }

  .project-name {
    height: auto;
    padding-inline-start: 0rem;

    &__label {
      padding-inline-start: 0;
    }

    &__input {
      padding: 0 $space-1;
    }
  }

  .projects-panel__item {
    margin-bottom: $space-1;
  }

  .projects-panel__save {
    border-top: 1px solid $rpf-grey-600;
    padding: $space-1 0;
  }
  
  .projects-panel__save-button {
    width: fill-available;
    margin-bottom: $space-1;

    .icon {
      display: none;
    }

    .content {
      margin: auto;
    }
  }

  .projects-panel__save-status {
    margin: auto;
    width: fit-content;
  }
}
