@import '../../../colours.scss';

.font-size-selector {
  display: flex;

  .font-btn {
    margin-right: var(--spacing-1);
    cursor: pointer;

    &--large {
      margin-right: 0;
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }

    p {
      text-align: center;
      margin-top: var(--spacing-1)
    }
  }
}

/* stylelint-disable no-descending-specificity */

.--dark {
  .font-btn__icon {
    outline: 1px solid $editor-white;

    &:hover {
      svg {
        fill: $rpf-darkmode-grey85;
      }
    }
  }
}

.--light {
  .font-btn__icon {
    outline: 1px solid $editor-light-grey;

    &:hover {
      svg {
        fill: $rpi-grey-70;
      }
    }
  }
}

.font-size-small {

  .font-btn__icon {
    height: var(--spacing-7);
    width: var(--spacing-7);

    &--active {
      outline: 2px solid $rpf-teal;
    }

    &:focus-visible {
      outline: 2px solid $rpf-brand-raspberry;
    }
  }
}

.font-size-medium {

  .font-btn__icon{
    height: var(--spacing-8);
    width: var(--spacing-8);

    &--medium {
      margin: 0 var(--spacing-1)
    }

    &--active {
      outline: 2.5px solid $rpf-teal;
    }

    &:focus-visible {
      outline: 2.5px solid $rpf-brand-raspberry;
    }
  }
}

.font-size-large {

  .font-btn__icon{
    height: var(--spacing-9);
    width: var(--spacing-9);

    &--medium {
      margin: 0 var(--spacing-2)
    }

    &--active {
      outline: 3px solid $rpf-teal;
    }

    &:focus-visible {
      outline: 3px solid $rpf-brand-raspberry;
    }
  }
}
/* stylelint-enable no-descending-specificity */
