@import '../../../colours.scss';

.font-size-selector {
  display: flex;

  .font-btn {
    margin-right: var(--spacing-1);
    cursor: pointer;

    &--large {
      margin-right: 0;
    }

    &:hover {
      .--light & {
        svg {
          fill: $rpf-grey-600;
        }
      }

      .--dark & {
        svg {
          fill: $rpf-grey-150;
        }
      }
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      height: var(--spacing-7);
      width: var(--spacing-7);

      .--dark & {
        outline: 1px solid $rpf-white;
      }

      .--light & {
        outline: 1px solid $rpf-grey-150;
      }

      &.font-btn__icon--active {
        outline: 2px solid $rpf-teal-800;
      }

      &:focus-visible {
        outline: 2px solid $rpf-brand-raspberry;
      }
    }

    p {
      text-align: center;
      margin-top: var(--spacing-1);
    }
  }
}
