@use '../../spacing' as *;
@use '../../font-size' as *;
@use '../../colours' as *;

.save-status {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 0 $space-1 0 $space-0-5;
}

.save-status--mobile {
  margin: unset;

  .save-status__text {
    @include font-size-1(regular);
  }
}

.save-status__icon {
  display: flex;

}
