$rpf-black: #000000;
$rpf-white: #ffffff;
$rpf-off-white: #f5f6f9;
$rpf-dark-blue: #2a3e4f;
// Text
$rpf-text-primary: #212121;
$rpf-text-primary-darkmode: $rpf-white;
$rpf-text-secondary: #4d575b;
$rpf-text-secondary-darkmode: #cccccc;
//Greys
$rpf-grey-50: #f1f2f3;
$rpf-grey-100: #e3e4e8;
$rpf-grey-150: #d5d7dc;
$rpf-grey-200: #c7c9d1;
$rpf-grey-300: #babcc5;
$rpf-grey-400: #9497a4;
$rpf-grey-500: #636674;
$rpf-grey-600: #4a4d59;
$rpf-grey-700: #33353d;
$rpf-grey-800: #2a2b32;
$rpf-grey-850: #23242a;
$rpf-grey-900: #17181c;
$rpf-grey-950: #0c0c0e;

$rpf-grey-secondary-tertiary-hover: hsla(0deg, 0%, 100%, 10%);
$rpf-grey-secondary-tertiary-active: hsla(0deg, 0%, 100%, 15%);

//Decorative
$rpf-red-100: #feeeed;
$rpf-red-200: #fcd4d3;
$rpf-red-400: #f9a8a7;
$rpf-red-600: #f67d7b;
$rpf-red-800: #f3514f;
$rpf-red-900: #c2423f;

$rpf-green-100: #ecf7ed;
$rpf-green-200: #d1ebd2;
$rpf-green-400: #a2d7a5;
$rpf-green-600: #74c378;
$rpf-green-800: #46af4b;
$rpf-green-900: #358539;

$rpf-teal-100: #e7f8f7;
$rpf-teal-200: #c4eeea;
$rpf-teal-400: #89ddd5;
$rpf-teal-600: #50cec1;
$rpf-teal-800: #14bdac;
$rpf-teal-900: #0e857a;

$rpf-teal-primary-default: $rpf-teal-800;
$rpf-teal-primary-hover: #43c9bd;
$rpf-teal-primary-active: #5bd0c5;
$rpf-teal-primary-default-darkmode: $rpf-teal-400;
$rpf-teal-primary-hover-darkmode: #a1e4dd;
$rpf-teal-primary-active-darkmode: #ace7e2;
$rpf-teal-secondary-tertiary-hover: #e7f8f7;
$rpf-teal-secondary-tertiary-active: #dcf5f3;

$rpf-orange-100: #fff4e8;
$rpf-orange-200: #ffe3c4;
$rpf-orange-400: #ffc78a;
$rpf-orange-600: #feaa50;
$rpf-orange-800: #fe8e15;
$rpf-orange-900: #af620e;

$rpf-yellow-100: #fffbe5;
$rpf-yellow-200: #fff6bf;
$rpf-yellow-400: #ffed80;
$rpf-yellow-600: #ffe540;
$rpf-yellow-800: #ffdd00;
$rpf-yellow-900: #877500;

$rpf-purple-100: #f3ecf6;
$rpf-purple-200: #e1d0ea;
$rpf-purple-400: #c3a1d5;
$rpf-purple-600: #a573bf;
$rpf-purple-800: #8744ab;
$rpf-purple-900: #6c3688;

$rpf-navy-100: #e9eaf5;
$rpf-navy-200: #c8cbe6;
$rpf-navy-400: #9196cd;
$rpf-navy-600: #5a62b4;
$rpf-navy-800: #232d9a;
$rpf-navy-900: #1c257c;

$rpf-blue-100: #e5f4fd;
$rpf-blue-200: #bfe3fb;
$rpf-blue-400: #80c7f7;
$rpf-blue-600: #40abf4;
$rpf-blue-800: #0090f0;
$rpf-blue-900: #0072c0;

//Brand colours
$rpf-brand-raspberry: #cd2356;
$rpf-brand-leaf: #46af4b;
$rpf-brand-black: #1d1d1b;
$astropi-dark-blue: #002b3f;

//Alert
$rpf-alert-information: #1e398a;
$rpf-alert-information-highlight: #f2f5fc;
$rpf-alert-success: #05611e;
$rpf-alert-success-highlight: #f0fef4;
$rpf-alert-warning: #7e4316;
$rpf-alert-warning-highlight: #fcf4ee;
$rpf-alert-error-highlight-highlight: #ffebeb;
$rpf-alert-error: #9e0a0a;
$rpf-alerts-error-tint: #86151e;

:root {
  --rpf-white: #{$rpf-white};
}

// Webpack exports
/* stylelint-disable selector-pseudo-class-no-unknown, order/properties-alphabetical-order */
:export {
  grey: {
    rpi-grey-15: $rpf-grey-150;
    rpi-grey-40: $rpf-grey-400;
    rpi-grey-5: $rpf-grey-50;
    rpi-grey-70: $rpf-grey-600;
    rpf-white: $rpf-white;
  }
}
/* stylelint-enable selector-pseudo-class-no-unknown, order/properties-alphabetical-order */

// New Colours
$rpf-grey-150: #d5d7dc;
$rpf-grey-600: #4a4d59;

$rpf-text-secondary: #4d575b;
$rpf-text-secondary-dark: #cccccc;

// Syntax highlighting
$rpf-syntax-1: #9EE8FF;
$rpf-syntax-2: #94F9AF;
$rpf-syntax-3: #FFCA99;
$rpf-syntax-4: #EECCFF;
