@mixin font-size-5($line-height: regular) {
  font-size: calc(5rem * var(--scale-factor, 1));
  @if $line-height == regular {
    line-height: calc(6.5rem * var(--scale-factor, 1));
  }
}

@mixin font-size-4-5($line-height: regular) {
  font-size: calc(4.5rem * var(--scale-factor, 1));
  @if $line-height == regular {
    line-height: calc(6rem * var(--scale-factor, 1));
  }
}

@mixin font-size-4($line-height: regular) {
  font-size: calc(4rem * var(--scale-factor, 1));
  @if $line-height == regular {
    line-height: calc(5rem * var(--scale-factor, 1));
  }
}

@mixin font-size-3-5($line-height: regular) {
  font-size: calc(3.5rem * var(--scale-factor, 1));
  @if $line-height == regular {
    line-height: calc(4.5rem * var(--scale-factor, 1));
  }
}

@mixin font-size-3($line-height: regular) {
  font-size: calc(3rem * var(--scale-factor, 1));
  @if $line-height == regular {
    line-height: calc(4rem * var(--scale-factor, 1));
  }
}

@mixin font-size-2-5($line-height: regular) {
  font-size: calc(2.5rem * var(--scale-factor, 1));
  @if $line-height == regular {
    line-height: calc(3.5rem * var(--scale-factor, 1));
  }
}

@mixin font-size-2($line-height: regular) {
  font-size: calc(2rem * var(--scale-factor, 1));
  @if $line-height == regular {
    line-height: calc(2.5rem * var(--scale-factor, 1));
  }
}

@mixin font-size-1-75($line-height: regular) {
  font-size: calc(1.75rem * var(--scale-factor, 1));
  @if $line-height == regular {
    line-height: calc(2.5rem * var(--scale-factor, 1));
  }
}

@mixin font-size-1-5($line-height: regular) {
  font-size: calc(1.5rem * var(--scale-factor, 1));
  @if $line-height == regular {
    line-height: calc(2rem * var(--scale-factor, 1));
  }
}

@mixin font-size-1-25($line-height: regular) {
  font-size: calc(1.25rem * var(--scale-factor, 1));
  @if $line-height == regular {
    line-height: calc(1.5rem * var(--scale-factor, 1));
  }
}

@mixin font-size-1($line-height: regular) {
  font-size: calc(1rem * var(--scale-factor, 1));
  @if $line-height == regular {
    line-height: calc(1.5rem * var(--scale-factor, 1));
  }
}

@mixin font-size-0-75($line-height: regular) {
  font-size: calc(0.75rem * var(--scale-factor, 1));
  @if $line-height == regular {
    line-height: calc(1rem * var(--scale-factor, 1));
  }
}

@mixin font-size-0-5($line-height: regular) {
  font-size: calc(0.5rem * var(--scale-factor, 1));
  @if $line-height == regular {
    line-height: calc(0.75rem * var(--scale-factor, 1));
  }
}
