@import '../../colours.scss';
@import '../../editor-spacing.scss';

.sense-hat {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-flow: column;

  &-model {
    display: flex;
    flex-flow: column;
    max-height: 50%;
    flex: 1;
    padding-bottom: var(--spacing-1);

    &-orientation {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 var(--spacing-1);

      &__spacing {
        flex: 1;
      }
  
      &__values {
        flex: 8;
        display: flex;
        margin: 0 var(--spacing-6);
      }
  
      &__reading {
        flex: 1;
        text-transform: uppercase;
        font-weight: var(--font-weight-bold);
        margin: 0 var(--spacing-2);
        font-size: var(--font-size-d-1);
      }
  
      &__reset-btn {
        flex:1;
        display: flex;
        margin-left: auto;
      }
    }
  }

  &-controls {

    padding: var(--spacing-1);
    display: flex;
    flex-flow: column;

    &-heading {
      font-weight: var(--font-weight-base);
      font-size: var(--font-size-d-1);
      margin: 0;
      margin-bottom: var(--spacing-1);
    }

    &-panel {
      flex: 1;
      display: flex;
      justify-content: space-between;

      &__container {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
      }

      &__control {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        padding: var(--spacing-1);
        padding-top: var(--spacing-half);
        box-sizing: border-box;
        border-radius: 5px;
        width: 24%;
        justify-content: space-between;

        &-reading {
          width: 100%;
          border-radius: 5px;
          margin-top: var(--spacing-half);
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
          monospace;

          &-timer {
            margin-top: 0;
            padding: var(--spacing-1) 0;
            width: 100%;
          }
        }

        &-toggle {
          border-radius: 5px;
          width: 100%;
          padding: var(--spacing-half);
          box-sizing: border-box;
          font-size: var(--font-size-d-1);
          display: flex;
          align-items: center;
          justify-content: center;

          label {
            flex: 1;
          }
        }

        &-input {
          width: 115px;
          transform: rotate(270deg);
        }

        input[type='color'] {
          border-radius: 5px;
        }

        &-name {
          font-size: var(--font-size-d-1);
          text-transform: uppercase;
          margin: var(--spacing-half) 0;
        }
      }
    }
  }
}

.--dark {
  .sense-hat {

  }
}

.--light {
  .sense-hat {
    background-color: $editor-white;

    &-controls {
      border-top: 5px solid $editor-light-grey;

      &-panel {
        &__control {
          box-shadow: inset 0 0 var(--spacing-2) $editor-light-grey;
          background-color: $editor-light-light-grey;
          
          &-reading {
            background-color: $editor-light-grey;
            border: 2px solid $editor-mid-light-grey;
          }
          
          input[type='color'] {
            background-color: $editor-white;
            border: 2px solid $editor-mid-light-grey;
          }

          &-toggle {
            background-color: $editor-white;
            border: 2px solid $editor-mid-light-grey;
            .react-toggle-thumb {
              border: 1px solid $editor-light-grey;
              background-color: $editor-light-grey;
            }
          }
        }
      }
  }
    
    &-model {
      background-color: $editor-dark-blue;
      
      &-orientation {
        background-color: $editor-dark-blue;
        color: $editor-white;
        
        &__reset-btn {
          svg {
            background-color: $editor-white;
            padding: var(--spacing-1);
            border-radius: 5px;
          }
        }
      }
    }
  }
}

.font-size-medium {
  .sense-hat-controls {
    &-panel__control-name, &-panel__control-toggle, &-heading  {
      font-size: var(--font-size-u-1);
    }
  }
  .sense-hat-model-orientation__reading {
    font-size: var(--font-size-u-1);
  }
}

.font-size-large {
  .sense-hat-controls {
    &-panel__control-name, &-panel__control-toggle, &-heading  {
      font-size: var(--font-size-u-3);
    }
  }
  .sense-hat-model-orientation__reading {
    font-size: var(--font-size-u-3);
  }
}

