@import '../../colours.scss';

.editor-project-list {
  margin: 0 auto;
  max-width: 1570px;

  &__container {
    border-radius: 8px;
    margin: var(--spacing-3);
    padding: var(--spacing-2);

    .--light & {
      background: $rpf-white;
    }

    .--dark & {
      background: $rpf-darkmode-grey32;
    }
  }

  &__item {
    border-top: 1px solid $rpi-grey-15;
    list-style: none;
    padding: 0 var(--spacing-1);
  }

  &__title,
  &__action {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    text-decoration: none;

    .--light & {
      color: $rpf-black;
    }

    .--dark & {
      color: $rpf-white;
    }
  }
}