@import '../../colours.scss';
@import '../../mixins.scss';

$medium-table-grid: 900px;
$small-table-grid: 600px;

.editor-project-list {
  margin: 0 auto;
  max-width: 1570px;
  width: 100%;

  &__container {
    border-radius: 8px;
    margin: var(--spacing-3);
    padding: var(--spacing-2);

    @include unique-width(1670px) {
      margin: var(--spacing-3) 0;
    }

    @include unique-width($small-table-grid) {
      padding-top: 0;
    }

    .--light & {
      background: $rpf-white;
    }

    .--dark & {
      background: $rpf-darkmode-grey32;
    }
  }

  &__heading {
    font-size: var(--font-size-base);
  }

  &__heading:first-of-type {
    grid-column: span 6;

    @include unique-width($medium-table-grid) {
      grid-column: span 8;
    }
  }

  &__heading:last-of-type {
    grid-column: span 6;

    @include unique-width($medium-table-grid) {
      grid-column: span 4;
    }
  }

  &__item {
    align-items: center;
    display: grid;
    border-top: 1px solid $rpi-grey-15;
    grid-template-columns: repeat(12,1fr);
    justify-content: space-between;
    list-style: none;
    padding: 0 var(--spacing-1);

    &:first-of-type {
      border-top: none;

      @include unique-max-width($small-table-grid) {
        display: none;
      }
    }

    &:nth-of-type(2) {
      @include unique-max-width($small-table-grid) {
        border-top: none;
      }
    }
  }

  &__title {
    grid-column: span 6;
    overflow: hidden;
    padding: var(--spacing-1) 0;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include unique-width($medium-table-grid) {
      grid-column: span 8;
    }

    @include unique-max-width($small-table-grid) {
      grid-column: span 8;
      padding: 0;
      margin: 0;
    }
  }

  &__info {
    align-items: center;
    display: grid;
    grid-column: span 8;
    grid-template-columns: repeat(8, 1fr);

    @include unique-width($medium-table-grid) {
      grid-column: span 9;
      grid-template-columns: repeat(9, 1fr);
    }
  }

  &__updated {
    border: 3px solid transparent;
    grid-column: span 2;
    font-size: var(--font-size-d-1);

    @include unique-width($medium-table-grid) {
      grid-column: span 1;
    }

    @include unique-max-width($small-table-grid) {
      grid-column: span 8;
    }
  }

  &__actions {
    display: grid;
    grid-column: span 3;
    grid-template-columns: repeat(3, 1fr);
  }

  &__title,
  &__delete {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    text-decoration: none;

    .--light & {
      color: $rpf-black;
    }

    .--dark & {
      color: $rpf-white;
    }

    &:active {
      color: $rpf-teal-shade-20;
    }

    &:hover {
      color: $rpi-grey-70;
    }
  }
}