@use '../../spacing' as *;
@import '../../colours.scss';
@import '../Button/Button.scss';

.autosave {
  align-items: center;
  display: flex;
}

.autosave__status {
  margin-right: 0.2rem
}

.autosave__time--hidden {
  visibility: hidden;
}

.project-bar {
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  z-index: 1;
  height: 4rem;

  &__right {
    margin-left: auto;
    display: flex;
    height: 100%;

    .btn {
      padding: 0 $space-1-5
    }
  }

  .btn--save {
    padding: 12px 16px;
    gap: 8px;
    margin: 0;
    border-radius: 0;
  }
}

.--light {
  .project-bar {
    background-color: $rpf-white;
    border: 1px solid $rpf-grey-150;
  }
}

.--dark {
  .project-bar {
    background-color: $rpf-grey-700;
    border: 1px solid $rpf-grey-600;
  }
}
