@use '../../spacing' as *;
@use '../../font-size.scss' as *;
@import '../../colours.scss';

.project-name {
  align-items: center;
  display: flex;
  height: 100%;
  max-width: 50%;
  padding-inline-start: $space-0-5;
}

.project-name__input {
  @include font-size-1(regular);
  font-weight: var(--font-weight-bold);
  padding: $space-0-5 $space-1-5;
}

.project-name__button {
  height: fit-content;
  padding: $space-0-5;

  svg {
    height: 1rem;
    width: 1rem;
    margin: 0;
  }
}

.project-name__input {
  border-radius: 0.5rem;
  background: #F1F2F3;
  border: none;
  color: inherit;

  &:focus-visible {
    outline: 2px solid #212121;
  }
}
