@import '../../colours.scss';
@import '../../mixins.scss';

$medium-table-grid: 990px;
$small-table-grid: 600px;

.editor-project-list {
  margin: 0 auto;
  max-width: 1570px;
  width: 100%;

  &__container {
    border-radius: 8px;
    margin: var(--spacing-2) var(--spacing-3);
    padding: var(--spacing-1);

    @include unique-width($small-table-grid) {
      padding: var(--spacing-2);
    }

    @include unique-width(767px) {
      margin: var(--spacing-4) var(--spacing-5);
    }

    @include unique-width(1670px) {
      margin: var(--spacing-4) 0;
    }

    .--light & {
      background: $rpf-white;
    }

    .--dark & {
      background: $rpf-darkmode-grey32;
    }
  }

  &__heading {
    font-size: var(--font-size-base);
    margin-top: var(--spacing-half);
  }

  &__heading:first-of-type {
    grid-column: span 8;

    @include unique-width($medium-table-grid) {
<<<<<<< HEAD
      grid-column: span 7;
=======
<<<<<<< Updated upstream
      grid-column: span 8;
=======
      grid-column: span 6;
>>>>>>> Stashed changes
>>>>>>> 8e7ac27 (Delete project action)
    }
  }

  &__heading:last-of-type {
    grid-column: span 4;

    @include unique-width($medium-table-grid) {
<<<<<<< HEAD
      grid-column: span 5;
=======
<<<<<<< Updated upstream
      grid-column: span 4;
=======
      grid-column: span 6;
>>>>>>> Stashed changes
>>>>>>> 8e7ac27 (Delete project action)
    }
  }

  &__item {
    align-items: center;
    display: grid;
    border-top: 1px solid $rpi-grey-15;
    grid-template-columns: repeat(12,1fr);
    justify-content: space-between;
    list-style: none;
    padding: 0 var(--spacing-1);

    @include unique-max-width($small-table-grid) {
      padding: var(--spacing-1);
    }

    .--dark & {
      border-top: 1px solid $rpf-darkmode-grey42;
    }

    &:first-of-type {
      border-top: none;

      @include unique-max-width($small-table-grid) {
        display: none;
      }
    }

    &:nth-of-type(2) {
      @include unique-max-width($small-table-grid) {
        border-top: none;
      }
    }
  }

  &__empty {
    background: $rpi-grey-5;
    border-radius: 8px;
    text-align: center;

    .--dark & {
      background: $rpf-darkmode-grey22;
    }

    p {
      font-size: var(--font-size-u-1);
      font-weight: var(--font-weight-bold);
      margin: 0;
      padding: var(--spacing-2);
    }
  }
}
