@import '../../colours.scss';
@import '../../mixins.scss';

$medium-table-grid: 990px;
$small-table-grid: 600px;

.editor-project-list {
  margin: 0 auto;
  max-width: 1570px;
  width: 100%;

  &__container {
    border-radius: 8px;
    margin: var(--spacing-3);
    padding: var(--spacing-1) var(--spacing-2);

    @include unique-width(1670px) {
      margin: var(--spacing-3) 0;
    }

    @include unique-width($small-table-grid) {
      padding: 0 var(--spacing-2) var(--spacing-2);
    }

    .--light & {
      background: $rpf-white;
    }

    .--dark & {
      background: $rpf-darkmode-grey32;
    }
  }

  &__heading {
    font-size: var(--font-size-base);
  }

  &__heading:first-of-type {
    grid-column: span 6;

    @include unique-width($medium-table-grid) {
      grid-column: span 7;
    }
  }

  &__heading:last-of-type {
    grid-column: span 6;

    @include unique-width($medium-table-grid) {
      grid-column: span 5;
    }
  }

  &__item {
    align-items: center;
    display: grid;
    border-top: 1px solid $rpi-grey-15;
    grid-template-columns: repeat(12,1fr);
    justify-content: space-between;
    list-style: none;
    padding: 0 var(--spacing-1);

    @include unique-max-width($small-table-grid) {
      padding: var(--spacing-1);
    }

    .--dark & {
      border-top: 1px solid $rpf-darkmode-grey42;
    }

    &:first-of-type {
      border-top: none;

      @include unique-max-width($small-table-grid) {
        display: none;
      }
    }

    &:nth-of-type(2) {
      @include unique-max-width($small-table-grid) {
        border-top: none;
      }
    }
  }
}
