@use "../../spacing" as *;
@import "../../colours.scss";

.save-button {
  align-items: center;
  // display: none;
  margin: 0 $space-1 0 $space-0-5;
  width: 160px;

  @container (min-width: 560px) {
    display: flex;
    gap: $space-0-25;
  }
}

.save-button__icon {
  display: flex;
}

// .save-button__time--hidden {
//   // visibility: hidden;
// }
