
@import '../../colours.scss';
@import '../../spacing.scss';
@import '../Button/Button.scss';

.autosave {
  align-items: center;
  display: flex;
}

.autosave__status {
  margin-right: 0.2rem
}

.autosave__time--hidden {
  visibility: hidden;
}

.editor-header-wrapper {
  z-index: 1;
}

.editor-header {
  display: flex;
  align-items: center;
  z-index: 1;
  height: 100%;

  &__right {
    margin-left: auto;
    display: flex;
    height: 100%;

    .btn {
      padding: 0 $space-1-5
    }
  }

  .btn--save {
    margin: 0;
    border-radius: 0;
  }
}

.editor-logo {
  height: 100%;
  min-height: $space-4;
  min-width: $space-4;
}

.project-gallery-link {
  @extend .btn;
  @extend .btn--tertiary;

  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 $space-2;

  &a:visited {
    color: inherit;
  }

  + .project-name {
    .--light & {
      border-left: 1px solid $rpf-darkmode-grey85;
    }
  
    .--dark & {
      border-left: 1px solid $rpf-darkmode-grey42;
    }
  }
}

.--light {
  .editor-header {
    background-color: $rpf-white;
  }
}

.--dark {
  .editor-header {
    background-color: $rpf-darkmode-grey22;
  }
}
