
@import '../../colours.scss';

.autosave {
  align-items: center;
  display: flex;
}

.autosave__icon {
  margin-right: var(--spacing-1)
}

.autosave__status {
  margin-right: 0.2rem
}

.autosave__time--hidden {
  visibility: hidden;
}

.editor-header-wrapper {
  z-index: 1;
}

.editor-header {
  display: flex;
  align-items: center;
  z-index: 1;
  height: 100%;

  &__right {
    margin-left: auto;
    display: flex;
    height: 100%;

    .btn {
      padding: 0 var(--spacing-2)
    }
  }

  .btn--save {
    margin: 0;
    border-radius: 0;
  }
}

.editor-logo {
  height: 100%;
  min-height: var(--spacing-6);
  min-width: var(--spacing-6);
}

.project-gallery-link {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-bold);
  padding: 0 var(--spacing-3);

  &a:visited {
    color: inherit;
  }

  svg {
    margin-right: var(--spacing-1)
  }
}

.--light {
  .editor-header {
    background-color: $rpf-white;
  }
}

.--dark {
  .editor-header {
    background-color: $rpf-darkmode-grey22;
  }
}

.font-size-medium, .font-size-large {
  .editor-header__text {
    margin-left: var(--spacing-1);
  }
}
