@use "../../spacing" as *;
@use "../../mixins.scss" as *;
@use "../../font-size.scss" as *;
@import "../../colours.scss";

.project-name {
  align-items: center;
  display: flex;
  height: 100%;
  max-width: 50%;
  padding-inline-start: $space-0-5;
  @include unique-max-width(600px) {
    max-width: 100%;
  }
}

.project-name__input,
.project-name__title {
  @include font-size-1(regular);
  font-weight: var(--font-weight-bold);
  padding: $space-0-5 $space-1-5;
}

.project-name__title {
  margin: 0;
  padding-right: $space-0-5;
}

.project-name__button {
  height: fit-content;
  padding: $space-0-5;

  svg {
    height: 1rem;
    width: 1rem;
    margin: 0;
  }
}

.project-name__input {
  border-radius: 5px;
  background-color: inherit;
  color: inherit;

  &:focus-visible {
    border: none;
    outline: 2px solid $rpf-teal-800;
  }
}
