@import '../../colours.scss';

.project-name {
  align-items: center;
  display: flex;
  height: 100%;
  max-width: 50%;
  padding-inline-start: var(--spacing-1);
}

.project-name__input, .project-name__title {
  font-size: 1em;
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-1) var(--spacing-2);
}

.project-name__title {
  margin: 0;
  padding-right: var(--spacing-1);
}

.project-name__button {
  height: fit-content;
  padding: var(--spacing-1);
  svg {
    height: 1rem;
    width: 1rem;
    margin: 0;
  }
}

.project-name__input {
  border-radius: 5px;
  background-color: inherit;
  color: inherit;

  &:focus-visible {
    border: none;
    outline: 2px solid $rpf-brand-raspberry;
  }
}
