@import '../../colours.scss';

.project-name__input {
  padding: var(--spacing-1) var(--spacing-2);
  font-size: 1em;
  border-radius: 5px;
  margin-left: var(--spacing-1);
}

.--light {
  .project-name__input {
    border: 2px solid $editor-light-grey;
  }
}

.--dark {
  .project-name__input {
    border: 2px solid white;
  }
}
