@import '../../../colours.scss';

.settings-menu {
  width: fit-content;
  right: 0;

  h2 {
    margin-top: var(--spacing-1)
  }

  h3 {
    font-size: 1.2em;
    font-weight: var(--font-weight-base);
    text-align: center;
    margin-top: 0;
    margin-bottom: var(--spacing-1);
  }

  &__font-size {
    text-align: center;
  }

  &::before {
    margin-left: var(--spacing-5);
  }
}

.--light {
  .settings-menu {
    h3 {
      color: $editor-mid-grey;
    }
  }
}

.font-size-large {
  .settings-menu {
    padding: 0 var(--spacing-2);
    p {
      margin-bottom: var(--spacing-1);
    }
    h2 {
      margin-top: 0;
      margin-bottom: var(--spacing-1);
    }
    h3 {
      font-size: var(--font-size-4)
    }
  }
}
