@use '../../../spacing' as *;
@import '../../../colours.scss';


.settings-menu {
  width: fit-content;
  right: 0;

  h2 {
    margin-top: $space-0-5
  }

  h3 {
    font-size: 1.2em;
    font-weight: var(--font-weight-base);
    text-align: center;
    margin-top: 0;
    margin-bottom: $space-0-5;
  }

  &__font-size {
    text-align: center;
  }

  &::before {
    margin-left: $space-3;
  }
}

.--light {
  .settings-menu {
    h3 {
      color: $rpf-darkmode-grey42;
    }
  }
}
