.settings-menu {
  width: 150%;
  right: 0;

  h2 {
    margin-top: var(--spacing-1)
  }

  h3 {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
    text-align: center;
  }
}
