@use '../../spacing' as *;
@import '../../colours.scss';

#wc {
  @include font-size-1(regular);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: column;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  all: initial;
  font-size: inherit;
}

svg {
  fill: $rpf-black;
}

button:focus-visible {
  outline: 2px solid $rpf-black;
}

.--dark {
  background-color: $rpf-grey-900;
  color: $rpf-white;

  svg {
    fill: $rpf-white;
  }

  button {
    &:focus-visible {
      outline: 2px solid $rpf-white;
    }
  }

  .react-tabs__tab--selected {
    color: inherit;
  }
}
