@use '../Editor/Project/Project.scss';
@use '../Button/Button.scss';
@use '../RunButton/RunnerControls.scss';
@use '../ThemeToggle/ThemeToggle.scss';
@use '../Editor/FontSizeSelector/FontSizeSelector.scss';
@use '../Editor/EditorPanel/EditorPanel.scss';
@use '../Editor/Runners/PythonRunner/PythonRunner.scss';
@use '../Editor/ErrorMessage/ErrorMessage.css';
@use '../AstroPiModel/AstroPiModel.scss';
@import '../../colours.scss';

#wc {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: column;
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  all: initial;
  font-size: inherit;

  svg {
    fill: inherit;
  }
}

.--light {
  
  svg {
    fill: $editor-black;
  }
}

.--dark {
  background-color: $editor-grey;
  color: $editor-white;

  svg {
    fill: $editor-white;
  }

  .react-tabs__tab--selected {
    background-color: $editor-grey;
    color: inherit;
  }
}
