@import '../colours.scss';

#app {
  .toast--bottom-center__message, .toast--top-center__message {
      min-height: fit-content;
      padding: var(--spacing-half) var(--spacing-1);
      margin: 0;
  }

  .toast--bottom-center {
    width: fit-content;
    max-width: 100%;
    font-size: var(--font-size-d-1);
    bottom: 1em;
    padding: 4px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    
    .Toastify__toast-icon {
      margin: 0 var(--spacing-half) 0 0;
    }
  }
  .toast--bottom-center__message {
    border-radius: 20px;
  }

  .toast--top-center {
    max-width: fit-content;
    width: 100%;
    font-weight: var(--font-weight-bold);
    top: 20%;
  }
  .toast--top-center__message {
    border-radius: 25px;
  }

  .toast--info {
    color: $rpf-alert-blue;
    border: 2px solid $rpf-alert-blue;
    svg {
      fill: $editor-black;
    }
    .Toastify__toast-icon {
      svg {
        fill: $rpf-alert-blue;
      }
    }
  }

  &.--dark {
    .toast--bottom-center__message {
      background-color: $rpf-white;
      color: $editor-black;
      svg {
        fill: $editor-black;
      }
    }
  }

  &.--light {
    .toast--bottom-center__message {
      background-color: $editor-black;
      color: $rpf-white;
      svg {
        fill: $rpf-white;
      }
    }
  }
}
