@use '../spacing' as *;
@use '../font-size' as *;
@import '../colours.scss';

#app {
  .toast--bottom-center__message, .toast--top-center__message {
      min-height: fit-content;
      padding: $space-0-25 $space-0-5;
      margin: 0;
  }

  .toast--bottom-center {
    @include font-size-0-75(regular);
    width: fit-content;
    max-width: 100%;
    bottom: 1em;
    padding: 4px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    
    .Toastify__toast-icon {
      margin: 0 $space-0-25 0 0;
    }
  }
  .toast--bottom-center__message {
    border-radius: 20px;
  }

  .toast--top-center {
    max-width: fit-content;
    width: 100%;
    font-weight: var(--font-weight-bold);
    top: 20%;
  }
  .toast--top-center__message {
    border-radius: 25px;
  }

  .toast--info {
    color: $rpf-alert-information;
    border: 2px solid $rpf-alert-information;
    svg {
      fill: $rpf-grey-900;
    }
    .Toastify__toast-icon {
      svg {
        fill: $rpf-alert-information;
      }
    }
  }

  &.--dark {
    .toast--bottom-center__message {
      background-color: $rpf-white;
      color: $rpf-grey-900;
      svg {
        fill: $rpf-grey-900;
      }
    }
  }

  &.--light {
    .toast--bottom-center__message {
      background-color: $rpf-grey-900;
      color: $rpf-white;
      svg {
        fill: $rpf-white;
      }
    }
  }
}
