.resizable-with-handle__handle div  {
  z-index: 10;
}

.resizable-with-handle__handle--right div {
  right: 7px !important;

  svg {
    height: 100%;
    min-width: 0;
  }
}

.resizable-with-handle__handle--bottom div {
  bottom: 7px !important;

  svg {
    width: 100%;
  }
}

.resizable-with-handle__handle--bottom div {
  bottom: 7px !important;

  svg {
    width: 100%;
  }
}
