.editor {
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow: hidden;

  .cm-editor {
    flex: 1;
    overflow: hidden;

    &:focus {
      outline: none;
    }

    .cm-scroller {
      overflow: auto;
      overscroll-behavior-x: none;

      .cm-content {
        flex: 1;
        padding-top: var(--spacing-1);
        margin-right: var(--spacing-1);
      }
    }
  }
  
  &--medium {
    font-size: var(--font-size-u-2);
  }

  &--large {
    font-size: var(--font-size-u-4);
  }
}
