@use '../../spacing' as *;
@use '../../font-size' as *;
@import '../../colours.scss';
@import '../../mixins.scss';

.editor-footer {
  @include font-0-75(regular);
  margin-top: auto;
  padding: 0 $space-1-5 $space-1-5;
  display: flex;

  @include sm-width-only {
    flex-direction: column;
  }

  &__links {
    margin-left: auto;

    @include sm-width-only {
      display: flex;
      flex-wrap: wrap;
    }

    &-link {
      border-radius: 8px;
      color: inherit;
      cursor: pointer;
      padding: $space-1 $space-0-5;
      text-decoration: underline;
    }
  }

  &__name {
    padding-left: $space-0-5
  }
}
