@import '../../colours.scss';
@import '../../mixins.scss';

.editor-footer {
  margin-top: auto;
  padding: 0 var(--spacing-2) var(--spacing-2);
  display: flex;
  font-size: var(--font-size-d-1);

  @include sm-width-only {
    flex-direction: column;
  }

  &__links {
    margin-left: auto;

    @include sm-width-only {
      display: flex;
      flex-wrap: wrap;
    }

    &-link {
      border-radius: 8px;
      color: inherit;
      cursor: pointer;
      padding: var(--spacing-one-quart) var(--spacing-1);
      text-decoration: underline;
    }
  }

  &__name {
    padding-left: var(--spacing-1)
  }
}
