@use '../../../font-weight' as *;

.dropzone-area {
    border: 1px dashed black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.dropzone-info {
    font-weight: $font-weight-bold;
}

.modal-footer {
    text-align: right;
}
