@forward '@rpf/sauce/scss/properties/_spacing';
@import '../../colours.scss';

.theme-toggle {
  display: flex;

  .theme-btn {
    cursor: pointer;
    
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--spacing-7);
      width: var(--spacing-7);
      border-radius: 5px;

      &--light {
        background-color: $editor-white;
        outline: 1px solid $editor-dark-dark-dark;

        svg {
          fill: black;
        }
      }

      &--dark {
        background-color: $editor-dark;
        outline: 1px solid $editor-light-grey;

        svg {
          fill: $editor-white;
        }
      }

      &--active {
        outline: 2px solid $rpf-teal;
      }

      .font-size-medium & {
        height: var(--spacing-8);
        width: var(--spacing-8);

        &--active {
          outline: 2.5px solid $rpf-teal;
        }
      }

      .font-size-large & {
        height: var(--spacing-9);
        width: var(--spacing-9);

        &--active {
          outline: 3px solid $rpf-teal;
        }
      }

      &:focus-visible {
        outline: 2px solid $rpf-brand-raspberry;

        .font-size-medium & {
          outline: 2.5px solid $rpf-brand-raspberry;
        }

        .font-size-large & {
          outline: 3px solid $rpf-brand-raspberry;
        }
      }
    }

    &--light {
      margin-right: var(--spacing-1);

      &:hover {
        svg {
          fill: $rpi-grey-70;
        }
      }
    }

    &--dark {
      &:hover {
        svg {
          fill: $rpf-darkmode-grey85;
        }
      }
    }

    .font-size-medium & {
      margin-right: var(--spacing-2);
    }

    .font-size-large & {
      margin-right: var(--spacing-3);
    }
  }

  p {
    text-align: center;
    margin-top: var(--spacing-1)
  }
}
