@forward '@rpf/sauce/scss/properties/_spacing';
@import '../../colours.scss';

.theme-toggle {
  display: flex;

  .theme-btn {
    cursor: pointer;
    
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--spacing-7);
      width: var(--spacing-7);
      border-radius: 5px;

      &--light {
        background-color: $rpf-white;
        outline: 1px solid $rpf-darkmode-grey18;
        svg {
          fill: $rpf-black;
        }
      }

      &--dark {
        background-color: $rpf-darkmode-grey22;
        outline: 1px solid $rpf-darkmode-grey85;
        svg {
          fill: $rpf-white;
        }
      }

      &--active {
        outline: 2px solid $rpf-teal;
      }

      &:focus-visible {
        outline: 2px solid $rpf-brand-raspberry;
      }
    }

    &--light {
      margin-right: var(--spacing-1);

      &:hover {
        svg {
          fill: $rpi-grey-70;
        }
      }
    }

    &--dark {
      &:hover {
        svg {
          fill: $rpf-darkmode-grey85;
        }
      }
    }
  }

  p {
    text-align: center;
    margin-top: var(--spacing-1)
  }
}
