/* stylelint-disable */

// Scratch blocks

.scratchblocks {
  margin-bottom: 2rem;
  overflow-x: scroll;
}

code.blockcontrol,
code.blockdata,
code.blockevents,
code.blockextension,
code.blocklooks,
code.blockmoreblocks,
code.blockmotion,
code.blockoperators,
code.blockpen,
code.blocksensing,
code.blocksound,
code.block3control,
code.block3events,
code.block3extensions,
code.block3looks,
code.block3motion,
code.block3myblocks,
code.block3operators,
code.block3sensing,
code.block3sound,
code.block3variables {
  border-radius: 3px;
  color: #fff;
}

code.blockcontrol {
  background: #e9aa00;
}
code.blockdata {
  background: #ff7500;
}
code.blockevents {
  background: #d38117;
}
code.blockextension {
  background: #4e4a61;
}
code.blocklooks {
  background: #9b33d9;
}
code.blockmoreblocks {
  background: #71009a;
}
code.blockmotion {
  background: #505fd7;
}
code.blockoperators {
  background: #00c114;
}
code.blockpen {
  background: #00a16f;
}
code.blocksensing {
  background: #00a3e6;
}
code.blocksound {
  background: #d000c2;
}

// Scratch 3 blocks

code.block3control {
  background-color: #ffab19;
}
code.block3events {
  background-color: #ffbf00;
}
code.block3extensions {
  background-color: #0fbd8c;
}
code.block3looks {
  background-color: #9966ff;
}
code.block3motion {
  background-color: #4c97ff;
}
code.block3myblocks {
  background-color: #ff6680;
}
code.block3operators {
  background-color: #59c059;
}
code.block3sensing {
  background-color: #5cb1d6;
}
code.block3sound {
  background-color: #cf63cf;
}
code.block3variables {
  background-color: #ff8c1a;
}

// Crumble blocks

code.crumblebasic {
  background-color: #ff5e3a;
}
code.crumbleinputoutput {
  background-color: #007aff;
}
code.crumblesparkles {
  background-color: #5856d6;
}
code.crumblecontrol {
  background-color: #ff9500;
}
code.crumblevariables {
  background-color: #c86edf;
}
code.crumbleoperators {
  background-color: #4cd964;
}

// blockscad blocks

code.blockscad3dshapes {
  background-color: #006205;
}
code.blockscad2dshapes {
  background-color: #209303;
}
code.blockscadtransforms {
  background-color: #26549e;
}
code.blockscadsetops {
  background-color: #7450e2;
}
code.blockscadmath {
  background-color: #0185e1;
}
code.blockscadlogic {
  background-color: #bf6920;
}
code.blockscadloops {
  background-color: #612485;
}
code.blockscadtext {
  background-color: #727272;
}
code.blockscadvariables {
  background-color: #8c7149;
}
code.blockscadmodules {
  background-color: #900355;
}
code.blockscadexperimental {
  background-color: #000000;
}

// microbit blocks

code.microbitbasic {
  background-color: #1e90ff;
}
code.microbitinput {
  background-color: #d400d4;
}
code.microbitmusic {
  background-color: #e63022;
}
code.microbitled {
  background-color: #5c2d91;
}
code.microbitradio {
  background-color: #e3008c;
}
code.microbitloops {
  background-color: #00aa00;
}
code.microbitlogic {
  background-color: #00a4a6;
}
code.microbitvariables {
  background-color: #dc143c;
}
code.microbitmath {
  background-color: #9400d3;
}
code.microbitadvanced {
  background-color: #00272b;
}
code.microbitfunctions {
  background-color: #3455db;
}
code.microbitarrays {
  background-color: #e65722;
}
code.microbittext {
  background-color: #b8860b;
}
code.microbitgame {
  background-color: #007a4b;
}
code.microbitimages {
  background-color: #7600a8;
}
code.microbitpins {
  background-color: #b22222;
}
code.microbitserial {
  background-color: #002050;
}
code.microbitcontrol {
  background-color: #333333;
}
code.microbitextensions {
  background-color: #717171;
}
code.microbitdatalogger {
  background-color: #378273;
}

/* Generated by Prismjs.com */
code[class*='language-'],
pre[class*='language-'] {
  background: 0 0;
  color: #ccc;
  direction: ltr;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}
pre[class*='language-'] {
  margin: 0.5em 0;
  overflow: auto;
  padding: 1em;
}
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #2d2d2d;
}
:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  padding: 0.1em;
  white-space: normal;
}
pre[class*='language-microbit'] {
  display: none;
}
.makecode-block {
  margin-bottom: 1em;
  svg {
    max-width: 100%;
  }
}

.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #999;
}
.token.punctuation {
  color: #ccc;
}
.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
  color: #e2777a;
}
.token.function-name {
  color: #6196cc;
}
.token.boolean,
.token.function,
.token.number {
  color: #f08d49;
}
.token.class-name,
.token.constant,
.token.property,
.token.symbol {
  color: #f8c555;
}
.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
  color: #cc99cd;
}
.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
  color: #7ec699;
}
.token.entity,
.token.operator,
.token.url {
  color: #67cdcc;
}
.token.bold,
.token.important {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.token.inserted {
  color: green;
}
pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}
.line-highlight {
  background: #ffffff;
  left: 0;
  line-height: inherit;
  margin-top: 1em;
  mix-blend-mode: difference;
  padding: inherit 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  white-space: pre;
}
.line-numbers .line-highlight:before,
.line-numbers .line-highlight[data-end]:after {
  background-color: hsla(24, 20%, 50%, 0.4);
  border-radius: 999px;
  box-shadow: 0 1px #fff;
  color: #f4f1ef;
  content: attr(data-start);
  font: 700 65%/1.5 sans-serif;
  left: 0.6em;
  min-width: 1em;
  padding: 0 0.5em;
  position: absolute;
  text-align: center;
  text-shadow: none;
  top: 0.4em;
  vertical-align: 0.3em;
}
.command-line-prompt,
.line-numbers .line-numbers-rows {
  border-right: 1px solid #999;
  font-size: 100%;
  letter-spacing: -1px;
  pointer-events: none;
}
.line-highlight[data-end]:after {
  bottom: 0.4em;
  content: attr(data-end);
  top: auto;
}
.line-numbers .line-highlight:after,
.line-numbers .line-highlight:before,
.no-line-numbers .line-highlight:after {
  content: none;
}
pre.line-numbers {
  counter-reset: linenumber;
  padding-left: 3.8em;
  position: relative;
}
pre.line-numbers > code {
  position: relative;
  white-space: inherit;
}
.line-numbers .line-numbers-rows {
  left: -3.8em;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 3em;
}
.line-numbers-rows > span {
  counter-increment: linenumber;
  display: block;
  pointer-events: none;
}
.line-numbers-rows > span:before {
  color: #999;
  content: counter(linenumber);
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
.command-line-prompt {
  display: block;
  float: left;
  margin-right: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.command-line-prompt > span:before {
  color: #999;
  content: ' ';
  display: block;
  padding-right: 0.8em;
}
.command-line-prompt > span[data-user]:before {
  content: '[' attr(data-user) '@' attr(data-host) '] $';
}
.command-line-prompt > span[data-user='root']:before {
  content: '[' attr(data-user) '@' attr(data-host) '] #';
}
.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}
