@use '../../../spacing' as *;
@import '../../../colours.scss';

.proj {
  flex: 1;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.proj-header {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.editor-controls {
  display: flex;
}

.proj-controls {
  padding-top: 20px;
}

.proj-share-link {
  padding-left: 5px;
  padding-right: 5px;
}

.proj-container {
  flex: 1;
  display: flex;
  grid-gap: $space-0-5;
  overflow: hidden;
  justify-content: space-between;
  margin: $space-1-5;

  .proj-runner-container, .proj-editor-container, .menu {
    border-radius: 10px;
  }

  .proj-editor-container {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    flex-basis: 45%;

    @media only screen and (max-width: 1600px) {
      flex-basis: 43%;
    }

    @media only screen and (max-width: 960px) {
      flex-basis: 39%;
    }

    @media only screen and (max-width: 768px) {
      flex-basis: 37%;
    }

    @media only screen and (max-width: 456px) {
      flex-basis: 22%;
    }

    .react-tabs__tab-panel--selected {
      overflow-y: hidden;
    }
  }

  .proj-runner-container {
    display: flex;
    flex-flow: column;
    flex: 5 1;
    overflow-y: hidden;

    .react-tabs__tab-panel--selected {
      overflow-y: auto;
    }
  }

  &--wc {
    min-height: 200px;
    .proj-runner-container, .proj-editor-container {
      width: 50%;
    }
  }
}

.--light {
  .proj-runner-container, .proj-editor-container, .menu {
    background-color: $rpf-white;
    border: 1px solid $rpf-grey-150;
  }
}

.--dark {
  .proj-runner-container, .proj-editor-container, .menu {
    background-color: $rpf-grey-800;
    border: 1px solid $rpf-grey-900;
  }
}
