.proj {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.proj-header {
  display: flex;
  justify-content: space-between;
}

.proj-controls {
  padding-top: 20px;
}

.proj-container {
  display: flex;
  justify-content: space-between;
}

.proj-editor-container {
  width: 50%;
  height: 500px;
  margin-right: 2rem;
}

.proj-runner-container {
  width: 45%;
}
