@import '../../../colours.scss';

.font-size-small {
  font-size: var(--font-size-base)
}

.font-size-medium {
  font-size: var(--font-size-u-2)
}

.font-size-large {
  font-size: var(--font-size-u-4)
}

.proj {
  flex: 1;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.proj-header {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.editor-controls {
  display: flex;
}

.proj-controls {
  padding-top: 20px;
}

.proj-share-link {
  padding-left: 5px;
  padding-right: 5px;
}

.proj-container {
  flex: 1;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  margin: var(--spacing-1);
  border-radius: 10px;

  .proj-editor-container {
    display: flex;
    flex-flow: column;
    width: 42%;
    box-sizing: border-box;
  }
  
  .proj-runner-container {
    display: flex;
    width: 42%;
  }

  &--wc {
    min-height: 200px;
    .proj-runner-container, .proj-editor-container {
      width: 50%;
    }
  }

  .react-tabs {
    flex: 1;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    position: relative;

    &__tab {
      border-radius: 5px;
      padding: var(--spacing-1);
      margin: var(--spacing-1);
      margin-right: 0;
      border: 0;

      &--selected {
        color: inherit;
        border: none;
      }

      &:focus:after {
        display: none;
       }
    }

    &__tab-list {
      margin: 0;
    }

    &__tab-panel--selected {
      flex: 1;
      display: flex;
      flex-flow: column;
      overflow-y: scroll;
    }
  }
}

.--dark {
  .proj-container {
    border: 2px solid $editor-grey;

    .proj-editor-container {
      border-right: 5px solid $editor-dark-dark;
    }

    .proj-runner-container {
      .react-tabs__tab-panel {
        background-color: $editor-dark-dark-dark;
      }
    }

    .react-tabs {
      background-color: $editor-dark;

      &__tab-list {
        border-bottom: 2px solid $editor-grey;
      }

      &__tab {
        color: $editor-light-light-light-grey;

        &--selected {
          color: inherit;
          background-color: $editor-grey;
        }
      }
    }
  }
}

.--light {
  .proj-container {
    background-color: $editor-white;
    border: 2px solid $editor-light-grey;

    .proj-editor-container, .file-menu {
      border-right: 5px solid $editor-light-grey;
      box-sizing: border-box;
    }

    .react-tabs {

      &__tab-list {
        border-bottom: 2px solid $editor-light-grey;
      }

      &__tab {
        color: $editor-mid-grey;

        &--selected {
          color: inherit;
          background-color: $editor-light-light-grey;
        }
      }
    }
  }
}
