@import '../../../colours.scss';

.font-size-small {
  font-size: var(--font-size-base)
}

.font-size-medium {
  font-size: var(--font-size-u-2)
}

.font-size-large {
  font-size: var(--font-size-u-4)
}

.proj {
  flex: 1;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.proj-header {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.editor-controls {
  display: flex;
}

.proj-controls {
  padding-top: 20px;
}

.proj-share-link {
  padding-left: 5px;
  padding-right: 5px;
}

.proj-container {
  flex: 1;
  display: flex;
  grid-gap: var(--spacing-1);
  overflow: hidden;
  justify-content: space-between;
  margin: var(--spacing-2);

  .proj-runner-container, .proj-editor-container {
    border-radius: 10px;
  }

  .proj-editor-container {
    display: flex;
    flex-flow: column;
    flex: 5;
    overflow-y: scroll;
    box-sizing: border-box;

    .react-tabs__tab-panel--selected {
    overflow-y: hidden;
    }
  }
  
  .proj-runner-container {
    display: flex;
    flex: 5;
    overflow-y: scroll;

    .react-tabs__tab-panel--selected {
      overflow-y: auto;
    }
  }

  &--wc {
    min-height: 200px;
    .proj-runner-container, .proj-editor-container {
      width: 50%;
    }
  }
}

.--light {
  .proj-runner-container, .proj-editor-container {
    background-color: $editor-white;
    border: 1px solid $rpf-darkmode-grey85;
  }
}

.--dark {
  .proj-runner-container, .proj-editor-container {
    background-color: $rpf-darkmode-grey18;
    border: 1px solid $rpf-darkmode-grey18;
  }
}
