@use './tabs.scss';
@import './colours.scss';

button {
  all: initial;
  cursor: pointer;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.--light {
  background-color: $rpf-teal-tint-90;
  color: $rpf-text-black;
  caret-color: $rpf-black;

  button:focus-visible {
    outline: 2px solid $rpf-black;
  }

  .pythonrunner-input {
    color: rgb(36, 103, 236);
  }
  svg {
    fill: $rpf-black;
  }
}

.--dark {
  background-color: $rpf-darkmode-grey10;
  color: $rpf-white;
  caret-color: $rpf-white;

  button:focus-visible {
    outline: 2px solid $rpf-white;
  }

  .pythonrunner-input {
    color: rgb(36, 186, 236);
  }
  svg {
    fill: $rpf-white;
  }
}

.font-size-medium {
  .toast--bottom-center {
    font-size: var(--font-size-u-1)
  }
}

.font-size-large {
  .toast--bottom-center {
    font-size: var(--font-size-u-3)
  }
}

#app {
  height: 100vh;
  display: flex;
  flex-flow: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  .toast--bottom-center {
    width: fit-content;
    font-size: var(--font-size-d-1);
  
    &__message {
      min-height: fit-content;
      border-radius: 20px;
      padding: var(--spacing-half) var(--spacing-1);
      margin: 0;

      .Toastify__toast-icon {
        margin: 0;
      }
    }
  }

  &.--dark {
    .toast--bottom-center__message {
      background-color: $rpf-white;
      color: $rpf-text-black;
      svg {
        fill: $rpf-black;
      }
    }
  }

  &.--light {
    .toast--bottom-center__message {
      background-color: $rpf-black;
      color: $rpf-white;
      svg {
        fill: $rpf-white;
      }
    }
  }
}
