@use './tabs.scss';
@import './colours.scss';

a {
  border: 3px solid transparent;

  &:focus-visible {
    border: 3px solid $rpf-brand-raspberry;
    outline: none;
  }
}

button {
  all: initial;
  border: 3px solid transparent;
  cursor: pointer;

  @extend a;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.--light {
  background-color: $rpf-teal-tint-90;
  color: $rpf-text-black;
  caret-color: $rpf-black;

  .pythonrunner-input {
    color: rgb(36, 103, 236);
  }

  svg {
    fill: $rpf-black;
  }
}

.--dark {
  background-color: $rpf-darkmode-grey10;
  color: $rpf-white;
  caret-color: $rpf-white;

  .pythonrunner-input {
    color: rgb(36, 186, 236);
  }

  svg {
    fill: $rpf-white;
  }
}

#app {
  height: 100vh;
  overflow: auto;
  min-height: fit-content;
  display: flex;
  flex-flow: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: var(--font-size-base)
}
