// Editor colors
$editor-black: #1B1D22;
$editor-dark-blue: #002B3F;
$editor-turquoise-grey: #72D7CD1A;
$rpf-dark-blue: #2A3E4F;

// Basic colors

$rpf-black: #000000;
$rpf-white: #FFFFFF;
$rpf-white-opacity8: #FFFFFF14;

// Text

$rpf-text-primary: #212121;
$rpf-text-primary-darkmode: $rpf-white;
$rpf-text-secondary: #4D575B;
$rpf-text-secondary-darkmode: #CCCCCC;

//Greys

$rpf-darkmode-grey42: #616575;
$rpf-darkmode-grey32: #4A4D59;
$rpf-darkmode-grey22: #33353D;
$rpf-darkmode-grey18: #2A2B32;
$rpf-darkmode-grey15: #23242A;
$rpf-darkmode-grey10: #17181C;
$rpf-darkmode-grey5: #0C0C0E;

$rpf-darkmode-grey75: #BABCC5;
$rpf-darkmode-grey80: #C7C9D1;
$rpf-darkmode-grey85: #D5D7DC;
$rpf-darkmode-grey90: #E3E4E8;
$rpf-darkmode-grey95: #F1F2F3;


$rpf-grey-5: #F2F2F2;
$rpf-grey-15: #D9D9D9;
$rpf-grey-40: #999999;
$rpf-grey-70: #4c4c4c;

//Teals
$rpf-teal-shade-20: #10968A;
$rpf-teal: #14BCAC;
$rpf-teal-tint-25: #4FCDC1;
$rpf-teal-tint-50: #89DED5;
$rpf-teal-tint-75: #C4EEEA;
$rpf-teal-tint-90: #E7F8F7;

//Brand colours
$rpf-brand-raspberry: #CD2356;
$rpf-brand-leaf: #46AF4B;
$rpf-brand-black: $rpf-black;

//Alert
$rpf-alert-information: #1E398A;
$rpf-alert-information-highlight: #F2F5FC;
$rpf-alert-success: #05611E;
$rpf-alert-success-highlight: #F0FEF4;
$rpf-alert-warning: #7E4316;
$rpf-alert-warning-highlight: #FCF4EE;
$rpf-alert-error-highlight-highlight: #FFEBEB;
$rpf-alert-error: #9E0A0A;
$rpf-alerts-error-tint: #86151E;

:root,
:host {
  --rpf-white: #{$rpf-white};
  --rpi-grey-5: #{$rpf-grey-5};
  --rpi-grey-15: #{$rpf-grey-15};
  --rpi-grey-40: #{$rpf-grey-40};
  --rpi-grey-70: #{$rpf-grey-70};
}

// Webpack exports
/* stylelint-disable selector-pseudo-class-no-unknown, order/properties-alphabetical-order */
:export {
  grey: {
    rpi-grey-15: $rpf-grey-15;
    rpi-grey-40: $rpf-grey-40;
    rpi-grey-5: $rpf-grey-5;
    rpi-grey-70: $rpf-grey-70;
    rpf-white: $rpf-white;
  }
}
/* stylelint-enable selector-pseudo-class-no-unknown, order/properties-alphabetical-order */
