// Basic colors
$rpf-black: #000000;
$rpf-white: #FFFFFF;
$rpf-off-white: #F5F6F9;
$rpf-dark-blue: #2A3E4F;

// Text
$rpf-text-primary: #212121;
$rpf-text-primary-darkmode: $rpf-white;
$rpf-text-secondary: #4D575B;
$rpf-text-secondary-darkmode: #CCCCCC;

//Greys
$rpf-grey-50: #F1F2F3;
$rpf-grey-100: #E3E4E8;
$rpf-grey-150: #D5D7DC;
$rpf-grey-200: #C7C9D1;
$rpf-grey-300: #BABCC5;
$rpf-grey-400: #9497A4;
$rpf-grey-500: #636674;
$rpf-grey-600: #4A4D59;
$rpf-grey-700: #33353D;
$rpf-grey-800: #2A2B32;
$rpf-grey-850: #23242A;
$rpf-grey-900: #17181C;
$rpf-grey-950: #0C0C0E;

//Decorative
$rpf-red-100: #FEEEED;
$rpf-red-200: #FCD4D3;
$rpf-red-400: #F9A8A7;
$rpf-red-600: #F67D7B;
$rpf-red-800: #F3514F;
$rpf-red-900: #C2423F;

$rpf-green-100: #ECF7ED;
$rpf-green-200: #D1EBD2;
$rpf-green-400: #A2D7A5;
$rpf-green-600: #74C378;
$rpf-green-800: #46AF4B;
$rpf-green-900: #358539;

$rpf-teal-100: #E7F8F7;
$rpf-teal-200: #C4EEEA;
$rpf-teal-400: #89DDD5;
$rpf-teal-600: #4FCDC1;
$rpf-teal-800: #14BDAC;
$rpf-teal-900: #0E857A;

$rpf-orange-100: #FFF4E8;
$rpf-orange-200: #FFE3C4;
$rpf-orange-400: #FFC78A;
$rpf-orange-600: #FEAA50;
$rpf-orange-800: #FE8E15;
$rpf-orange-900: #AF620E;

$rpf-yellow-100: #FFFBE5;
$rpf-yellow-200: #FFF6BF;
$rpf-yellow-400: #FFED80;
$rpf-yellow-600: #FFE540;
$rpf-yellow-800: #FFDD00;
$rpf-yellow-900: #877500;

$rpf-purple-100: #F3ECF6;
$rpf-purple-200: #E1D0EA;
$rpf-purple-400: #C3A1D5;
$rpf-purple-600: #A573BF;
$rpf-purple-800: #8744AB;
$rpf-purple-900: #6C3688;

$rpf-navy-100: #E9EAF5;
$rpf-navy-200: #C8CBE6;
$rpf-navy-400: #9196CD;
$rpf-navy-600: #5A62B4;
$rpf-navy-800: #232D9A;
$rpf-navy-900: #1C257C;

$rpf-blue-100: #E5F4FD;
$rpf-blue-200: #BFE3FB;
$rpf-blue-400: #80C7F7;
$rpf-blue-600: #40ABF4;
$rpf-blue-800: #0090F0;
$rpf-blue-900: #0072C0;


//Brand colours
$rpf-brand-raspberry: #CD2356;
$rpf-brand-leaf: #46AF4B;
$rpf-brand-black: #1D1D1B;
$astropi-dark-blue: #002B3F;

//Alert
$rpf-alert-information: #1E398A;
$rpf-alert-information-highlight: #F2F5FC;
$rpf-alert-success: #05611E;
$rpf-alert-success-highlight: #F0FEF4;
$rpf-alert-warning: #7E4316;
$rpf-alert-warning-highlight: #FCF4EE;
$rpf-alert-error-highlight-highlight: #FFEBEB;
$rpf-alert-error: #9E0A0A;
$rpf-alerts-error-tint: #86151E;

:root,
:host {
  --rpf-white: #{$rpf-white};
}

// Webpack exports
/* stylelint-disable selector-pseudo-class-no-unknown, order/properties-alphabetical-order */
:export {
  grey: {
    rpi-grey-15: $rpf-grey-150;
    rpi-grey-40: $rpf-grey-400;
    rpi-grey-5: $rpf-grey-50;
    rpi-grey-70: $rpf-grey-600;
    rpf-white: $rpf-white;
  }
}
/* stylelint-enable selector-pseudo-class-no-unknown, order/properties-alphabetical-order */

// New Colours
$rpf-grey-150: #D5D7DC;
$rpf-grey-600: #4A4D59;

$rpf-text-secondary: #4D575B;
$rpf-text-secondary-dark: #CCCCCC;
