// $editor-grey: #1A1A1A80;
$editor-light-light-light-grey: #FFFFFF80;
$editor-light-light-grey:  #0000000D;
$editor-light-grey: #0000001A;
$editor-mid-grey: #1A1A1A80;
// $editor-dark: #363943;
// $editor-dark-dark: #24262D;
// $editor-black: #1A1A1A;
$editor-grey: #43454C;
$editor-dark: #2E3038;
$editor-dark-dark: #24262D;
$editor-dark-dark-dark: #1B1D22;
$editor-black: #1B1D22;



$editor-pale-purple: #BBCAF7;

$editor-pale-blue: #F0F3FD;
$editor-light-blue: #B2E3EF;
$editor-blue: #2143B3;

$editor-turquoise: #14BCAC;
$editor-dark-turquoise: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
linear-gradient(0deg, #14BCAC, #14BCAC);

