@mixin font-size-5($line-height: regular) {
  font-size: 5rem;
  @if $line-height == regular {
    line-height: 6.5rem;
  }
}

@mixin font-size-4-5($line-height: regular) {
  font-size: 4.5rem;
  @if $line-height == regular {
    line-height: 6rem;
  }
}

@mixin font-size-4($line-height: regular) {
  font-size: 4rem;
  @if $line-height == regular {
    line-height: 5rem;
  }
}

@mixin font-size-3-5($line-height: regular) {
  font-size: 3.5rem;
  @if $line-height == regular {
    line-height: 4.5rem;
  }
}

@mixin font-size-3($line-height: regular) {
  font-size: 3rem;
  @if $line-height == regular {
    line-height: 4rem;
  }
}

@mixin font-size-2-5($line-height: regular) {
  font-size: 2.5rem;
  @if $line-height == regular {
    line-height: 3.5rem;
  }
}

@mixin font-size-2($line-height: regular) {
  font-size: 2rem;
  @if $line-height == regular {
    line-height: 2.5rem;
  }
}

@mixin font-size-1-75($line-height: regular) {
  font-size: 1.75rem;
  @if $line-height == regular {
    line-height: 2.5rem;
  }
}

@mixin font-size-1-5($line-height: regular) {
  font-size: 1.5rem;
  @if $line-height == regular {
    line-height: 2rem;
  }
}

@mixin font-size-1-25($line-height: regular) {
  font-size: 1.25rem;
  @if $line-height == regular {
    line-height: 1.5rem;
  }
}

@mixin font-size-1($line-height: regular) {
  font-size: 1rem;
  @if $line-height == regular {
    line-height: 1.5rem;
  }
}

@mixin font-0-75($line-height: regular) {
  font-size: 0.75rem;
  @if $line-height == regular {
    line-height: 1rem;
  }
}

@mixin font-0-5($line-height: regular) {
  font-size: 0.5rem;
  @if $line-height == regular {
    line-height: 0.75rem;
  }
}