@import './colours.scss';
@import './mixins.scss';

.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-8);

  @include mobile-only {
    padding: calc(3.2 * var(--spacing-1));
  }
}

.modal-content {
  width: 560px;
  max-height: 100%;
  border: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  label {
    font-weight: var(--font-weight-bold);
  }

  input {
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: var(--spacing-1);
    display: block;
  }

  &:focus-visible {
    border: 3px solid $rpf-brand-raspberry;
    outline: none;
  }
}

.modal-content__header {
  display: flex;
  align-items: center;
  min-height: fit-content;
  padding: var(--spacing-1) var(--spacing-half) var(--spacing-1) calc(1.6 * var(--spacing-1));

  button {
    margin-left: auto;
    height: fit-content;
  }
}

.modal-content__heading {
  margin: var(--spacing-1) var(--spacing-1) var(--spacing-1)0;
  font-size: var(--font-size-u-2);
}

.modal-content__body {
  padding: calc(2.4 * var(--spacing-1));
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-1);
  overflow-y: auto;
}

.modal-content__subheading {
  margin: 0;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
}

.modal-content__text {
  margin: 0;
  line-height: var(--line-height-regular);
}

.modal-content__buttons {
  padding: calc(1.6*var(--spacing-1));
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: var(--spacing-1);
  justify-content: end;

  @include mobile-only {
    display: flex;
    flex-direction: column;
  }

  button, a {
    margin: 0;

    span {
      width: 100%;
    }

    @include mobile-only {
      width: 100%;
    }
  }
}

.modal-content__links {
  text-align: center;
  margin: var(--spacing-1) 0 var(--spacing-half) 0;
  
  button {
    text-decoration: underline;
  }
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  inset: 0px;
}

.--dark {
  .modal-overlay {
    background-color: rgba(0,0,0,0.5);

    input {
      border: 2px solid $rpf-white;
      background-color: $rpf-darkmode-grey22;
      color: inherit;

      &:focus-visible {
        border: 2px solid $rpf-teal;
        outline: none;
      }
    }
  }
  .modal-content {
    background-color: $rpf-darkmode-grey22;
  }
  .modal-content__header {
    border-bottom: 1px solid $rpf-darkmode-grey42;
  }
  .modal-content__buttons {
    border-top: 1px solid $rpf-darkmode-grey42;
  }
}

.--light {
  .modal-overlay {
    background-color: rgba(67,69,76,0.5);

    input {
      border: 2px solid $rpf-darkmode-grey90;

      &:focus-visible {
        border: 2px solid $rpf-teal;
        outline: none;
      }
    }
  }
  .modal-content {
    background-color: $rpf-white;
  }

  .modal-content__header {
    border-bottom: 1px solid $rpf-darkmode-grey85;
  }
  .modal-content__buttons {
    border-top: 1px solid $rpf-darkmode-grey85;
  }
}
