$space-0-125: calc(0.125rem * var(--scale-factor, 1));
$space-0-25: calc(0.25rem * var(--scale-factor, 1));
$space-0-5: calc(0.5rem * var(--scale-factor, 1));
$space-0-75: calc(0.75rem * var(--scale-factor, 1));
$space-1: calc(1rem * var(--scale-factor, 1));
$space-1-25: calc(1.25rem * var(--scale-factor, 1));
$space-1-5: calc(1.5rem * var(--scale-factor, 1));
$space-2: calc(2rem * var(--scale-factor, 1));
$space-2-5: calc(2.5rem * var(--scale-factor, 1));
$space-3: calc(3rem * var(--scale-factor, 1));
$space-3-5: calc(3.5rem * var(--scale-factor, 1));
$space-4: calc(4rem * var(--scale-factor, 1));
$space-4-5: calc(4.5rem * var(--scale-factor, 1));
$space-5: calc(5rem * var(--scale-factor, 1));
$space-5-5: calc(5.5rem * var(--scale-factor, 1));
$space-6: calc(6rem * var(--scale-factor, 1));
$space-7-5: calc(7.5rem * var(--scale-factor, 1));
