@import './colours.scss';

#app, #wc {
  .react-tabs {
    flex: 1;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    position: relative;
  
    &__tab {
      display: flex;
      border-radius: 5px;
      padding: var(--spacing-1);
      margin: var(--spacing-1);
      margin-right: 0;
      border: 0;
  
      &--selected {
        color: inherit;
        border: 0;
      }
  
      &:focus:after {
        display: none;
       }
    }
  
    &__tab-list {
      display: flex;
      overflow: scroll;
      margin: 0;
    }
  
    &__tab-panel--selected {
      flex: 1;
      display: flex;
      flex-flow: column;
    }
  }

  &.--dark {
    .react-tabs {
  
      &__tab-list {
        border-bottom: 1px solid $rpf-darkmode-grey42;
      }
  
      &__tab {
        color: $editor-light-light-light-grey;
  
        &--selected {
          color: inherit;
          background-color: $editor-grey;
        }
      }
    }
  }
  
  &.--light {
    .react-tabs {
  
      &__tab-list {
        border-bottom: 1px solid $rpf-darkmode-grey85;
      }
  
      &__tab {
        color: $editor-mid-grey;
  
        &--selected {
          color: inherit;
          background-color: $editor-light-light-grey;
        }
      }
    }
  }
}
