@import './colours.scss';
@import './components/Button/Button.scss';

#app, #wc {
  .react-tabs {
    flex: 1;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    position: relative;
  
    &__tab {
      @extend .btn;
      @extend .btn--secondary;

      &--selected {
        border: 3px solid $rpf-teal-shade-20;
      }

      &:focus {
        box-shadow: none;
      }

      &:focus-visible {
        outline: none;
      }
  
      &:focus:after {
        display: none;
       }
    }
  
    &__tab-list {
      display: flex;
      overflow: scroll;
      margin: 0;
    }
  
    &__tab-panel--selected {
      flex: 1;
      display: flex;
      flex-flow: column;
    }
  }

  &.--light {
    .react-tabs {
  
      &__tab-list {
        border-bottom: 1px solid $rpf-darkmode-grey85;
      }
  
      &__tab {
        &--selected {
          background-color: $rpi-grey-5;
        }
      }
    }
  }

  &.--dark {
    .react-tabs {
      background-color: $rpf-darkmode-grey18;
  
      &__tab-list {
        border-bottom: 1px solid $rpf-darkmode-grey42;
      }
  
      &__tab {
        background-color: $rpf-darkmode-grey32;
        color: $rpf-white;

        &:hover {
          background-color: $rpf-darkmode-grey22;
        }
  
        &--selected {
          color: inherit;
          background-color: $rpf-darkmode-grey42;
        }
      }
    }
  }
}
