@import './mixins.scss';

h1 {
  font-size: var(--font-size-u-5);

  @include sm-width-only {
    font-size: var(--font-size-u-2);
  }
}

h2 {
  font-size: var(--font-size-u-2);

  @include sm-width-only {
    font-size: var(--font-size-d-1);
  }
}

h3 {
  font-size: var(--font-size-u-1);
  font-weight: var(--font-weight-regular);

  @include sm-width-only {
    font-size: var(--font-size-base);
  }
}
