@import '../../../../colours.scss';

.file-pane {
  overflow-y: auto;
  width: 200px;
  border-radius: 10px;

  summary {
    border: 3px solid transparent;
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    height: 44px;

    &:focus-visible {
      border: 3px solid $rpf-brand-raspberry;
      outline: none;
    }

    .accordion-icon {
      margin-left: auto;
      display: flex;
    }

    h2 {
      font-size: 1rem;
      margin: 0 var(--spacing-half) 0 var(--spacing-1);
    }
  }

  .file-pane-section {
    padding: 0 var(--spacing-1);

    &__images {
      padding-left: 0;

      summary {
        padding-left: var(--spacing-1)
      }
    }
  }

  details[open] summary {
    .accordion-icon {
      transform: rotate(180deg)
    }
  }
}

.--dark {
  .file-pane-section {
    border-bottom: 1px solid $rpf-darkmode-grey42;
  }
}

.--light {
  .file-pane-section {
    border-bottom: 1px solid $rpf-darkmode-grey85;
  }
}
