@use '../../../../spacing' as *;
@import '../../../../colours.scss';

.files-list {
  padding: $space-0-5 0;
  overflow-x: hidden;
}

.files-list-item {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 8px;
  border: 3px solid transparent;
  box-sizing: border-box;
  white-space: nowrap;
  font-weight: var(--font-weight-regular);
  min-height: 44px;
  padding: $space-0-5 $space-2-5 $space-0-5 $space-0-5;

  .files-list-icon {
    display: flex;
    justify-content: center;
    min-width: 20px;
  }

  &:active {
    border: 3px solid $rpf-teal-900;
  }

  &:focus-visible {
    border: 3px solid $rpf-brand-raspberry;
    outline: none;
  }

  &:hover {
    cursor: pointer;
    background-color: $rpf-grey-150;
  }
}

.files-list-item__name {
  margin: 0;
  padding-left: $space-0-5;
  padding-right: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.files-list-item__menu {
  position: absolute;
  right: 0;
}

.--dark {
  .files-list-item {
    &:hover {
      background-color: $rpf-grey-700;
    }
  }

  .files-list-icon svg {
    fill: $rpf-white;
  }
}
