@use '../../../../colours' as *;
@use '../../../../spacing' as *;
@use '../../../../font-size.scss' as *;


.file-pane {
  border-radius: 10px;
  width: 100%;
  overflow: auto;

  summary {
    border: 3px solid transparent;
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    height: 44px;

    &:focus-visible {
      border: 3px solid $rpf-brand-raspberry;
      outline: none;
    }

    .accordion-icon {
      margin-left: auto;
      display: flex;
    }

    h2 {
      @include font-size-1(regular);
    }
  }

  .file-pane-section {
    padding: 0 $space-0-5;

    &__images {
      padding-left: 0;

      summary {
        padding-left: $space-0-5
      }
    }
  }

  details[open] summary {
    .accordion-icon {
      transform: rotate(180deg)
    }
  }
}

.--dark {
  .file-pane-section {
    border-bottom: 1px solid $rpf-grey-500;
  }
}

.--light {
  .file-pane-section {
    border-bottom: 1px solid $rpf-grey-150;
  }
}
