@import '../../colours.scss';
@import '../../spacing.scss';

.editor-banner {
  display: flex;
  align-items: center;
  padding: $space-0-25 $space-1-5;

  &--beta {
    background-color: $rpf-teal-tint-50;
    color: $rpf-text-black;

    svg {
      fill: $rpf-black;
    }
  }

  &--beta__icon {
    padding: $space-0-25;
    border-radius: 8px;
    background-color: $rpf-teal-tint-75;
    font-weight: var(--font-weight-bold);
    margin-right: $space-1-5
  }
}

.editor-banner__message {
  padding: $space-0-25 0
}

.editor-banner__link {
  display: inline;
  font-weight: var(--font-weight-bold);
  text-decoration: underline;

  &.btn--tertiary {
    color: $rpf-text-black;

    &:hover {
      color: $rpi-grey-70;
    }
  }
}

.editor-banner__close-button {
  margin-left: auto;

  &.btn--tertiary {
    svg {
      fill: $rpf-text-black;
      margin-right: 0;
    }

    &:hover {
      svg {
        fill: $rpi-grey-70;
      }
    }
  }
}
