@import '../../colours.scss';

.editor-banner {
  display: flex;
  align-items: center;
  padding: var(--spacing-half) var(--spacing-2);

  &--beta {
    background-color: $rpf-teal-400;
    color: $rpf-text-primary;

    svg {
      fill: $rpf-black;
    }
  }

  &--beta__icon {
    padding: var(--spacing-half);
    border-radius: 8px;
    background-color: $rpf-teal-200;
    font-weight: var(--font-weight-bold);
    margin-right: var(--spacing-2);
  }
}

.editor-banner__message {
  padding: var(--spacing-half) 0
}

.editor-banner__link {
  display: inline;
  font-weight: var(--font-weight-bold);
  text-decoration: underline;

  &.btn--tertiary {
    color: $rpf-text-primary;

    &:hover {
      color: $rpf-grey-600;
    }
  }
}

.editor-banner__close-button {
  margin-left: auto;

  &.btn--tertiary {
    svg {
      fill: $rpf-text-primary;
      margin-right: 0;
    }

    &:hover {
      svg {
        fill: $rpf-grey-600;
      }
    }
  }
}
