@use "../../spacing" as *;
@import "../../colours.scss";

.editor-banner {
  display: flex;
  align-items: center;
  padding: $space-0-25 $space-1-5;

  &--beta {
    background-color: $rpf-teal-400;
    color: $rpf-text-primary;

    svg {
      fill: $rpf-black;
    }
  }

  &--beta__icon {
    padding: $space-0-25;
    border-radius: 8px;
    background-color: $rpf-teal-200;
    font-weight: var(--font-weight-bold);
    margin-right: $space-1-5;
  }
}

.editor-banner__message {
  padding: $space-0-25 0;
}

.editor-banner__link {
  display: inline;
  font-weight: var(--font-weight-bold);
  padding-left: 0;
  padding-right: 0;
  text-decoration: underline;

  &.btn--tertiary {
    color: $rpf-text-primary;

    &:hover {
      color: $rpf-grey-600;
    }
  }
}

.editor-banner__link--feedback {
  padding-right: $space-0-25;
  white-space: nowrap;
}

.editor-banner__close-button {
  margin-left: auto;

  &.btn--tertiary {
    svg {
      fill: $rpf-text-primary;
      margin-right: 0;
    }

    &:hover {
      svg {
        fill: $rpf-grey-600;
      }
    }
  }
}
