@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/font-size" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/colours" as *;

.sense-hat {
  inline-size: 100%;
  flex: 1;
  display: flex;
  flex-flow: column;

  &-model {
    display: flex;
    flex-flow: column;
    max-block-size: 50%;
    min-block-size: 200px;
    flex: 1;
    padding-block-end: $space-0-5;

    canvas {
      cursor: grab;
    }

    &-orientation {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 $space-0-5;

      &__spacing {
        flex: 1;
      }

      &__values {
        flex: 10;
        display: flex;
        margin: 0 $space-0-5;
      }

      &__reading {
        @include font-size-0-75(regular);
        flex: 1;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        margin: 0 $space-0-5;
      }

      &__reset-btn {
        flex: 1;
        display: flex;
        margin-inline-start: auto;
        svg {
          padding: $space-0-5;
          border-radius: 5px;
          fill: $rpf-black;
        }
        button {
          cursor: pointer;
        }
      }
    }
  }

  &-controls {
    padding: $space-0-5;
    display: flex;
    flex-flow: column;

    &-heading {
      @include font-size-1(regular);
      font-weight: $font-weight-regular;
      margin-block: 0 $space-0-5;
      margin-inline: 0;
    }

    &-panel {
      flex: 1;
      display: flex;
      flex-flow: column;

      &__control {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        padding-block: $space-0-25 $space-0-5;
        padding-inline: $space-0-5;
        box-sizing: border-box;
        border-radius: 5px;
        inline-size: 32%;
        justify-content: space-between;

        &-reading {
          inline-size: 100%;
          border-radius: 5px;
          margin-block-start: $space-0-25;
          padding: $space-0-25;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: var(--wc-font-family-monospace);

          &-timer {
            margin-block-start: 0;
            padding: $space-0-5 0;
            inline-size: 100%;
          }
        }

        &-toggle {
          border-radius: 5px;
          inline-size: 100%;
          flex: 1;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;

          label {
            flex: 1;
          }
        }

        &-input {
          cursor: pointer;
          inline-size: 85px;
          transform: rotate(270deg);
        }

        input[type="color"] {
          border-radius: 5px;
          flex: 1;
          inline-size: 100%;
          padding: $space-0-25 $space-1-5;
        }

        &-name {
          font-variant: small-caps;
          text-transform: lowercase;
          margin: $space-0-25 0;
        }

        &-value {
          margin-inline-start: $space-0-25;
        }

        &-last {
          margin-block-start: $space-0-5;
          flex-flow: row;
          inline-size: 100%;
          align-items: inherit;
          justify-content: space-between;
        }
      }

      &__sliders {
        display: flex;
        justify-content: space-between;
        .sense-hat-controls-panel__control {
          min-block-size: 175px;
        }
      }

      &__container {
        display: flex;
        flex-flow: column;
        align-items: center;
        inline-size: 32%;

        .sense-hat-controls-panel__control-name,
        input {
          cursor: pointer;
        }

        &-timer {
          .sense-hat-controls-panel__control-name {
            cursor: default;
          }
        }
      }
    }
  }
}

.--dark {
  .sense-hat {
    background-color: $rpf-grey-800;

    &-controls {
      border-block-start: 7px solid $rpf-grey-900;

      &-panel {
        &__control {
          box-shadow: inset 0 0 $space-3 $rpf-grey-700;
          background-color: $rpf-grey-700;

          &-reading {
            background-color: $rpf-grey-800;
            border: 1px solid $rpf-grey-500;
          }

          input[type="color"] {
            background-color: $rpf-grey-800;
            border: 1px solid $rpf-grey-500;
          }

          &-toggle {
            background-color: $rpf-grey-800;
            border: 1px solid $rpf-grey-500;

            .react-toggle {
              &-thumb {
                border: 1px solid $rpf-white;
                background-color: $rpf-white;
              }
            }
          }
        }
      }
    }

    &-model {
      background-color: $astropi-dark-blue;

      &-orientation {
        background-color: $astropi-dark-blue;
        color: $rpf-white;

        &__reset-btn {
          svg {
            background-color: $rpf-white;
          }
        }
      }
    }
  }
}

.--light {
  .sense-hat {
    background-color: $rpf-white;

    &-controls {
      border-block-start: 5px solid $rpf-grey-100;

      &-panel {
        &__control {
          box-shadow: inset 0 0 $space-3 $rpf-grey-100;
          background-color: $rpf-grey-50;

          &-reading {
            background-color: $rpf-grey-100;
            border: 2px solid $rpf-grey-300;
          }

          input[type="color"] {
            background-color: $rpf-white;
            border: 2px solid $rpf-grey-300;
          }

          &-toggle {
            background-color: $rpf-white;
            border: 2px solid $rpf-grey-300;

            .react-toggle-thumb {
              border: 1px solid $rpf-grey-100;
              background-color: $rpf-grey-100;
            }
          }
        }
      }
    }

    &-model {
      background-color: $astropi-dark-blue;

      &-orientation {
        background-color: $astropi-dark-blue;
        color: $rpf-white;

        &__reset-btn {
          svg {
            background-color: $rpf-white;
          }
        }
      }
    }
  }
}
