@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/colours" as *;

.btn {
  align-items: center;
  border-radius: $space-0-5;
  border: 3px solid transparent;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--wc-font-family-sans-serif);
  font-size: inherit;
  font-weight: $font-weight-bold;
  gap: $space-0-5;
  justify-content: center;
  min-block-size: 44px;
  min-inline-size: 44px;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;

  &:disabled {
    background-color: $rpf-grey-600;
    color: $rpf-white;
    cursor: default;
  }

  &:focus-visible {
    border: 3px solid $rpf-brand-raspberry;
    outline: none;
  }

  &--primary {
    background-color: var(--rpf-button-primary-background-color);
    border-radius: $space-0-5;

    color: var(--rpf-button-primary-text-color);

    svg {
      fill: var(--rpf-button-primary-text-color);
    }

    &:active,
    .btn-outer:active & {
      background-color: var(--rpf-button-primary-background-color-active);
    }

    &:focus-visible,
    .btn-outer:focus-visible & {
      background-color: var(--rpf-button-primary-background-color-focus);
    }

    &:hover,
    .btn-outer:hover & {
      background-color: var(--rpf-button-primary-background-color-hover);
      border-radius: $space-0-5;
    }

    &:disabled {
      background-color: var(--rpf-button-primary-background-color-disabled);
      color: var(--rpf-button-primary-color-disabled);

      svg {
        fill: var(--rpf-button-primary-color-disabled);
      }

      &:hover,
      .btn-outer:hover & {
        background-color: var(--rpf-button-primary-background-color-disabled);
      }
    }
  }

  &--secondary {
    background-color: inherit;

    color: var(--rpf-button-secondary-text-color);

    svg {
      fill: var(--rpf-button-secondary-text-color);
    }

    &:active,
    .btn-outer:active & {
      background-color: inherit;
    }

    &:focus-visible,
    .btn-outer:focus-visible & {
      background-color: inherit;
    }

    &:hover,
    .btn-outer:hover & {
      background-color: inherit;
    }

    &:disabled {
      background-color: var(--rpf-button-secondary-background-color-disabled);
      color: var(--rpf-button-secondary-background-color-active);

      svg {
        fill: var(--rpf-button-secondary-background-color-active);
      }

      &:hover,
      .btn-outer:hover & {
        background-color: var(--rpf-button-secondary-background-color-disabled);
      }
    }

    border: 2px solid var(--rpf-button-primary-background-color);

    &:active {
      border: 2px solid var(--rpf-button-secondary-background-color-active);
    }

    &:hover {
      background-color: var(--rpf-button-secondary-background-color-hover);
      color: var(--rpf-button-secondary-text-color-hover);
      border-color: var(--rpf-button-secondary-border-color-hover) !important;

      svg {
        fill: var(--rpf-button-secondary-text-color-hover);
      }
    }

    &:focus-visible {
      outline: 3px solid var(--rpf-button-secondary-background-color-focus);
    }
  }

  &--tertiary {
    background-color: inherit;

    color: inherit;

    &:active,
    .btn-outer:active & {
      background-color: inherit;
    }

    &:focus-visible,
    .btn-outer:focus-visible & {
      background-color: inherit;
    }

    &:hover,
    .btn-outer:hover & {
      background-color: inherit;
    }

    &:disabled {
      background-color: inherit;
      color: $rpf-grey-600;

      svg {
        fill: $rpf-grey-600;
      }

      &:hover,
      .btn-outer:hover & {
        background-color: inherit;
      }
    }

    &:active {
      color: $rpf-teal-900;

      svg {
        fill: $rpf-teal-900;
      }
    }

    &:hover {
      color: var(--rpf-button-tertiary-text-color-hover);

      svg {
        fill: var(--rpf-button-tertiary-text-color-hover);
      }
    }

    &.btn--underline {
      text-decoration: underline;
    }
  }

  &--danger {
    background-color: $rpf-alert-error;

    color: $rpf-white;

    svg {
      fill: $rpf-white;
    }

    &:active,
    .btn-outer:active & {
      background-color: $rpf-alert-error;
    }

    &:focus-visible,
    .btn-outer:focus-visible & {
      background-color: $rpf-alert-error;
    }

    &:hover,
    .btn-outer:hover & {
      background-color: $rpf-alerts-error-tint;
    }

    &:disabled {
      background-color: $rpf-alert-error;
      color: $rpf-white;

      svg {
        fill: $rpf-white;
      }

      &:hover,
      .btn-outer:hover & {
        background-color: $rpf-alert-error;
      }
    }

    &:focus-visible {
      background-clip: padding-box;
      border: 2px solid transparent;
      outline: 3px solid $rpf-brand-raspberry;
    }

    &.btn--tertiary {
      background-color: inherit;
      color: var(--rpf-button-tertiary-danger-text-color);

      svg {
        fill: var(--rpf-button-tertiary-danger-text-color);
      }

      &:hover {
        background-color: var(--rpf-button-tertiary-danger-background-color-hover);
        // color: var(--rpf-button-tertiary-danger-text-color-hover);

        // svg {
        //   fill: var(--rpf-button-tertiary-danger-text-color-hover);
        // }
      }
    }
  }

  &--small {
    min-block-size: unset;
    min-inline-size: unset;
    padding: $space-0-25;
  }

  &--svg-only {
    svg {
      margin: 0;
    }
  }
}

.btn-outer {
  background: transparent;
  border-radius: $space-0-5;
  cursor: pointer;
  padding: $space-0-5 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus-visible {
    outline: none;

    .btn {
      border: 3px solid $rpf-brand-raspberry;
    }
  }

  &:has(.btn:disabled) {
    cursor: default;
  }
}
