@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/colours" as *;

@mixin button-styling(
  $bg,
  $active-bg,
  $dis-bg,
  $dis-c,
  $focus-bg,
  $hover-bg,
  $c: default
) {
  background-color: $bg;

  @if $c == "default" {
    color: $rpf-text-primary;

    svg {
      fill: $rpf-text-primary;
    }
  } @else {
    color: $c;

    svg {
      fill: $c;
    }
  }

  &:active,
  .btn-outer:active & {
    background-color: $active-bg;
    @content;
  }


  &:focus-visible, .btn-outer:focus-visible & {
    background-color: $focus-bg;
    @content;
  }

  &:hover,
  .btn-outer:hover & {
    background-color: $hover-bg;
    @content;
  }

  &:disabled {
    background-color: $dis-bg;
    color: $dis-c;
  
    svg {
      fill: $dis-c;
    }

    &:hover, .btn-outer:hover & {
      background-color: $dis-bg;
    }
  }
}

.btn {
  align-items: center;
  border-radius: 8px;
  border: 3px solid transparent;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font-family: sans-serif;
  font-size: inherit;
  font-weight: $font-weight-bold;
  gap: $space-0-5;
  justify-content: center;
  margin: 6px;
  min-height: 44px;
  min-width: 44px;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: fit-content;

  &:disabled {
    background-color: $rpf-grey-600;
    color: $rpf-white;
    cursor: default;
  }

  &:focus-visible {
    border: 3px solid $rpf-brand-raspberry;
    outline: none;
  }

  &--small {
    padding: $space-0-25;
  }

  // Variants
  &--primary {
    $colours: $rpf-teal-800, $rpf-teal-600, $rpf-teal-200, $rpf-grey-600,
      $rpf-teal-800, $rpf-teal-900;
    @include button-styling($colours...);
  }

  &--secondary {
    $colours: inherit, inherit, $rpf-grey-50, $rpf-grey-600, inherit, inherit;
    @include button-styling($colours...);

    border: 2px solid $rpf-teal-800;

    &:active {
      border: 2px solid $rpf-teal-900;
    }

    &:hover {
      color: $rpf-grey-600;

      svg {
        fill: $rpf-grey-600;
      }
    }

    &:focus-visible {
      outline: 3px solid $rpf-brand-raspberry;
    }
  }

  &--tertiary {
    $colours: inherit, inherit, inherit, $rpf-grey-600, inherit, inherit,
      inherit;
    @include button-styling($colours...);
    margin: 0;

    &:active {
      color: $rpf-teal-900;

      svg {
        fill: $rpf-teal-900;
      }
    }

    &:hover {
      color: $rpf-grey-600;

      svg {
        fill: $rpf-grey-600;
      }
    }
  }

  &--danger {
    $colours: $rpf-alert-error, $rpf-alert-error, $rpf-alert-error, $rpf-white,
      $rpf-alert-error, $rpf-alerts-error-tint, $rpf-white;
    @include button-styling($colours...);

    &:focus-visible {
      background-clip: padding-box;
      border: 2px solid transparent;
      outline: 3px solid $rpf-brand-raspberry;
    }
  }

  &--small {
    min-height: unset;
    min-width: unset;
  }

  &--svg-only {
    svg {
      margin: 0;
    }
  }
}

.btn-outer {
  background: transparent;
  cursor: pointer;
  padding: $space-0-5 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus-visible {
    outline: none;

    .btn {
      border: 3px solid $rpf-brand-raspberry;
    }
  }

  &:has(.btn:disabled) {
    cursor: default;
  }
}

.--dark {
  .btn-outer {
    &:hover {
      .btn--primary {
        background-color: $rpf-teal-600;
      }

      .btn--secondary {
        background-color: inherit;
      }

      .btn--tertiary {
        background-color: inherit;
      }
    }

    &:active {
      .btn--primary {
        background-color: $rpf-teal-200;
      }

      .btn--secondary {
        background-color: inherit;
      }

      .btn--tertiary {
        background-color: inherit;
      }
    }

    &:focus-visible {
      .btn--primary {
        background-color: $rpf-teal-400;
      }

      .btn--secondary {
        background-color: inherit;
      }

      .btn--tertiary {
        background-color: inherit;
      }
    }
  }

  .btn--primary {
    $colours: $rpf-teal-400, $rpf-teal-200, $rpf-grey-200, $rpf-grey-700,
      $rpf-teal-400, $rpf-teal-600;
    @include button-styling($colours...);
  }

  .btn--secondary {
    $colours: inherit, inherit, $rpf-grey-700, $rpf-grey-100, inherit, inherit,
      $rpf-white;
    @include button-styling($colours...);

    border: 2px solid $rpf-teal-400;

    &:active {
      border: 2px solid $rpf-teal-900;
    }

    &:hover {
      color: $rpf-grey-150;

      svg {
        fill: $rpf-grey-150;
      }
    }

    &:focus-visible {
      outline: 3px solid $rpf-brand-raspberry;
    }
  }

  .btn--tertiary {
    $colours: inherit, inherit, inherit, $rpf-grey-100, inherit, inherit,
      $rpf-white;
    @include button-styling($colours...);

    &:active {
      color: $rpf-teal-200;

      svg {
        fill: $rpf-teal-200;
      }
    }

    &:hover {
      color: $rpf-grey-150;

      svg {
        fill: $rpf-grey-150;
      }
    }
  }
}
