.class_wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--space-4) var(--space-2);
  align-items: center;
  gap: var(--space-4);
  flex: 1 0 0;
  align-self: stretch;
  background-color: var(--editor-color-layer-3);
}

.class__title {
  font-size: var(--font-size-3);
	line-height: var(--line-height-3);
	font-weight: var(--font-weight-bold);
	margin-block: var(--space-2);

  @media screen and (min-width: 800px) {
    font-size: var(--font-size-4);
    line-height: var(--line-height-4);
  }
}

.class__text {
  font-size: var(--font-size-1-5);
	line-height: var(--line-height-1-5);
	font-weight: var(--font-weight-regular);
	margin-block: var(--space-2);
}

.class__button {

  border: 1px solid green;
  width: fit-content;
  border-radius: 10px;
  button {
      color: var(--editor-color-layer-5);
  }

}
