.class_wrapper {
  padding: var(--space-4) var(--space-2);
  background-color: var(--editor-color-layer-3);

  @media screen and (min-width: 1200px) {
    align-items: center;
    gap: var(--space-4);
    align-self: stretch;
    display: flex;
    flex-direction: row;
    // flex: 1 0 0;
    // margin-block: auto;
    justify-content: space-between;
  }

}

.class__copy {
  // flex: 3;
  max-inline-size: 800px;
}

.class__title {
  font-size: var(--font-size-3);
	line-height: var(--line-height-3);
	font-weight: var(--font-weight-bold);
	margin-block: var(--space-2);

  @media screen and (min-width: 800px) {
    font-size: var(--font-size-4);
    line-height: var(--line-height-4);
  }
}

.class__text {
  font-size: var(--font-size-1-5);
	line-height: var(--line-height-1-5);
	font-weight: var(--font-weight-regular);
	margin-block: var(--space-2);
}

.class__buttons {
  display: flex;
  gap: var(--space-1);
  // flex: 1;
}

.class__button {
  border: 2px solid var(--editor-color-theme);
  width: fit-content;
  border-radius: 8px;

  button {
      color: var(--editor-color-layer-5);

  }

}
