@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/colours" as *;

.context-menu__drop {
  padding: $space-0-5 $space-1;
  margin: 0;

  svg {
    margin: 0;
  }

  :focus-visible {
    border: none;
  }
}

.context-menu {
  list-style-type: none;
  padding: 0;
  margin-inline: $space-0-5 0;
	margin-block: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .context-menu__item {
    margin: 0;
    background-color: inherit;
    color: var(--rpf-button-secondary-color);
    padding: $space-0-5;
    text-align: start;
    white-space: nowrap;
    overflow-x: visible;
    box-sizing: border-box;
    inline-size: 100%;
    justify-content: start;
  }

  :focus-visible {
    border: none;
  }

  svg {
    inline-size: $space-1-5;
    block-size: auto;
  }

  &--dark {
    background-color: $rpf-black;
    color: $rpf-white;
    border: 1px solid transparent;

    svg {
      fill: $rpf-white;
    }

    .btn:hover {
      background-color: $rpf-grey-700;
    }

    .btn:disabled {
      color: $rpf-grey-600;
    }
  }

  &--light {
    background-color: $rpf-white;
    color: $rpf-text-primary;
    border: 1px solid $rpf-grey-150;

    svg {
      fill: $rpf-black;
    }

    .btn:hover {
      background-color: $rpf-grey-100;
    }

    .btn:disabled {
      color: $rpf-grey-300;
    }
  }

  &--dark .btn:disabled svg {
    fill: $rpf-grey-600;
  }

  &--light .btn:disabled svg {
    fill: $rpf-grey-100;
  }

  .btn:disabled:hover {
    background-color: inherit;
  }
}
