@use "./rpf_design_system/colours" as *;

.rpf-button--primary * {
  svg {
    fill: var(--rpf-button-primary-text-color);
  }
}

.rpf-button--tertiary * {
  svg {
    fill: var(--rpf-button-secondary-text-color) !important;
  }
}

.rpf-button--fit {
  inline-size: fit-content;
}

.rpf-button.rpf-button--fill {
  justify-content: center;
  inline-size: 100%;
  box-sizing: border-box;
}

.rpf-button--secondary {
  justify-content: center;
  align-items: center;
}

.rpf-button--secondary * {
  svg {
    fill: $rpf-text-secondary;
  }
}

.--dark * {
  .rpf-button--secondary {
    border-color: $rpf-teal-400;

    span {
      color: $rpf-white;
    }

    svg {
      fill: $rpf-white;
    }

    &::before {
      background-color: rgba($rpf-grey-700, 1);
    }

    &:hover {
      &::before {
        background-color: rgba($rpf-white, 0.1);
      }

      border-color: $rpf-teal-400;
    }

    &:active {
      &::before {
        background-color: rgba($rpf-white, 0.15);
      }
    }

    &:disabled {
      &::before {
        background-color: inherit;
      }

      span {
        color: $rpf-grey-150;
      }

      border-color: $rpf-grey-150;
      background-color: inherit;
    }
  }

  .rpf-button--tertiary {
    color: $rpf-white;
    border: none;

    &:hover {
      &::before {
        background-color: rgba($rpf-white, 0.1);
      }
    }

    &:active {
      &::before {
        background-color: rgba($rpf-white, 0.15);
      }
    }

    &:disabled {
      &::before {
        background-color: inherit;
      }

      span {
        color: $rpf-grey-150;
      }

      background-color: inherit;
    }
  }
}

.--light * {
  .rpf-button--secondary {
    span {
      color: $rpf-text-primary;
    }

    &::before {
      background-color: rgba($rpf-white, 1);
    }

    &:hover {
      &::before {
        background-color: rgba(231, 248, 247, 1);
      }
    }

    &:disabled {
      &::before {
        background-color: inherit;
      }

      span {
        color: rgba(213, 215, 220, 1);
      }

      border-color: rgba(213, 215, 220, 1);
      background-color: inherit;
    }
  }

  .rpf-button--tertiary {
    border: none;

    &:active {
      &::before {
        background-color: rgba(220, 245, 243, 1);
      }
    }

    &:disabled {
      &::before {
        background-color: inherit;
      }

      span {
        color: rgba(213, 215, 220, 1);
      }

      background-color: inherit;
    }
  }
}

.rpf-button__icon {
  display: flex;
}
