@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/colours.scss" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/font-size.scss" as *;

.download-panel__login-section {
  border-block-end: 1px solid $rpf-grey-150;
  margin-block-end: $space-1-5;
  padding-block-end: $space-1-5;
}

.download-panel__subtitle {
  @include font-size-1(regular);
  font-weight: $font-weight-bold;
  margin-block-end: $space-0-5;
}

.download-panel__hint {
  margin: 0;
  margin-block-end: $space-1;
}

.download-panel__button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  gap: $space-1;
  align-items: stretch;
}

.download-panel__button {
  justify-content: center;
  inline-size: 100%;
  box-sizing: border-box;
  margin: 0;
}

.download-panel__download-section {
  margin-block-end: $space-1;
}
