@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/font-size.scss" as *;

.download-panel__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.download-panel__subtitle {
  @include font-size-1(regular);
  font-weight: $font-weight-bold;
  margin-bottom: $space-0-5;
  display: block;
}

.download-panel__button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $space-0-5;
  align-self: stretch;
}

.download-panel__button {
  //   width: 100%;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
