@forward '@raspberrypifoundation/design-system-core/scss/properties/spacing';
@use '@raspberrypifoundation/design-system-core/scss/mixins/typography' as typography;

// Scrollbar-width is needed from scrollbar to show in Chrome
.editor-wrapper {
  // Needed here for vertical scroll
  overflow: auto;
  scrollbar-width: thin;
  height: 100%;
}

.editor {
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow: hidden;
  height: 100%;

  .cm-editor {
    flex: 1;
    overflow: hidden;

    &:focus {
      outline: none;
    }

    .cm-scroller {
      // Needed here for horizontal scroll
      overflow: auto;
      scrollbar-width: thin;
      overscroll-behavior-x: none;
      font-family: var(--wc-font-family-monospace);


      .cm-content {
        flex: 1;
        padding-block-start: var(--space-0-5);
        margin-inline-end: var(--space-0-5);
      }
    }
  }

  &--small {
    @include typography.style-1();
  }

  &--medium {
    @include typography.style-1-5();
  }

  &--large {
    @include typography.style-2();
  }
}

.rpf-alert {
  margin: 0;
}
