@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/font-size" as *;

// Scrollbar-width is needed from scrollbar to show in Chrome
.editor-wrapper {
  // Needed here for vertical scroll
  overflow: auto;
  scrollbar-width: thin;
  height: 100%;
}

.editor {
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow: hidden;
  height: 100%;

  .cm-editor {
    flex: 1;
    overflow: hidden;

    &:focus {
      outline: none;
    }

    .cm-scroller {
      // Needed here for horizontal scroll
      overflow: auto;
      scrollbar-width: thin;
      overscroll-behavior-x: none;

      .cm-content {
        flex: 1;
        padding-block-start: $space-0-5;
        margin-inline-end: $space-0-5;
      }
    }
  }

  &--small {
    @include font-size-1(regular);
  }

  &--medium {
    @include font-size-1-5(regular);
  }

  &--large {
    @include font-size-2(regular);
  }
}

.rpf-alert {
  margin: 0;
}
