.education-logo-wrapper {
  a {
    border: none;
    font-weight: var(--font-weight-bold);
  }
}

.education-logo__text {
  display: flex;
  flex-direction: row;
}

.education-logo__title,
.education-logo-__subtitle {
  margin: 0;
  font-size: var(--font-size-1-5);
  line-height: var(--line-height-1-5);

  @media screen and (min-width: 600px) {
    font-size: var(--font-size-3);
    line-height: var(--line-height-2-5);
  }

  @media screen and (min-width: 1200px) {
    font-size: var(--font-size-4);
    line-height: var(--line-height-3-5);
  }
}

.education-logo__title {
  font-weight: var(--font-weight-bold);
  padding-inline-end: var(--space-2);
  margin-inline-end: var(--space-2);
  border-inline-end: 2px solid var(--editor-color-outline);
}

.education-logo-__subtitle {
  font-weight: var(--font-weight-regular);
}
