@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/font-size" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/colours" as *;
@use "./rpf_design_system/mixins" as *;

.education-landing-page-wrapper {
  display: flex;
  flex-direction: column;
  padding: $space-1-5;
  align-items: center;
  gap: $space-1;
  flex: 1 0 0;
  align-self: stretch;
  background-color: var(--editor-color-layer-3);

  @media screen and (min-width: 768px) {
    padding: $space-5 $space-7-5;
    gap: $space-4;
  }
}

.education-landing-page__get-started {
  background-color: var(--editor-color-layer-1);
  border-radius: 10px;
  // border: 1px solid var(--editor-color-border);
  // it's not pulling in Design System border color
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  padding: $space-1-5;
  align-items: center;
  gap: $space-1;
  align-self: stretch;
}
