@use "@raspberrypifoundation/design-system-core/scss/mixins/typography" as
  typography;

.error-message {
  color: var(--rpf-red-900);
  background-color: var(--rpf-red-100);
  border-block-start: 1px solid var(--editor-color-outline);
  padding: var(--space-1);
  overflow-y: auto;
  max-block-size: 50%;

  &__error {
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-weight: bold;
  }

  &__python {
    display: flex;
    gap: var(--space-1);
    @include typography.style-1;

    &--medium {
      @include typography.style-1;
    }
  
    &--large {
      @include typography.style-2;
    }
  }
}
