@use "./rpf_design_system/font-size" as *;
@use "./rpf_design_system/spacing" as *;

.error-message {
  color: #7e0305;
  background-color: #fde2e1;
  padding: $space-0-75 $space-1-25;
  overflow-y: auto;

  &__content {
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
    word-break: break-word;
  }

  &--medium {
    @include font-size-1-5(regular);
  }

  &--large {
    @include font-size-2(regular);
  }
}

.error-explanation {
  margin-block-start: $space-1-25;
  padding: $space-1-25;
  background-color: #fff;

  .pfe-summary {
    margin-block-start: $space-1-25;
    margin-block-end: $space-1-25;
  }
}
