@forward "../../../node_modules/@raspberrypifoundation/design-system-react/dist/scss/design-system-core.scss";
@use "../../../node_modules/react-tabs/style/react-tabs.css";
@use "../../../node_modules/react-toggle/style.css";
@use "../../../node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css";
@use "../../../node_modules/prismjs/plugins/line-highlight/prism-line-highlight.css";
@use "../../../node_modules/react-toastify/dist/ReactToastify.css";
@use "../../../node_modules/plotly.js/dist/plotly.css" as plotlyStyle;
