.friendly-error-message {
  background-color: var(--rpf-white);
  padding: var(--space-1-5);
  color: var(--rpf-text-primary);
  border-radius: var(--space-1);
  margin-block-start: var(--space-1);

  &__content {
    .pfem__title {
      font-weight: 600;
      display: inline;
    }

    .pfem__summary {
      display: inline;

      &::before {
        content: " - ";
      }
    }

    .pfem__var {
      font-family: var(--wc-font-family-monospace);
      background-color: var(--rpf-grey-50);
      border-radius: 0.25rem;
      padding:0 var(--space-0-5);
    }
  }
}
