@use "./rpf_design_system/font-size" as *;
@use "./rpf_design_system/colours" as *;

@use "./Tabs" as *;

// :not(:where(.rpf-button))
// avoids targetting the design system buttons without increasing specificity

a:not(:where(.rpf-button)) {
  &:focus-visible {
    outline: 3px solid var(--rpf-raspberry-800);
  }
}

button:not(:where(.rpf-button)) {
  all: initial;
  cursor: pointer;
  &:focus-visible {
    outline: 3px solid var(--rpf-raspberry-800);
  }
}

input {
  font-family: var(--wc-font-family-sans-serif);
}

svg {
  fill: currentColor;
}

.--light {
  background-color: $rpf-teal-100;
  color: $rpf-text-primary;
  caret-color: $rpf-black;
  color-scheme: light;

  .pythonrunner-input {
    color: rgb(36, 103, 236);
  }
}

.--dark {
  background-color: $rpf-grey-900;
  color: $rpf-white;
  caret-color: $rpf-white;
  color-scheme: dark;

  .pythonrunner-input {
    color: rgb(36, 186, 236);
  }
}
