@use "./rpf_design_system/colours" as *;
@use "./rpf_design_system/font-size" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/mixins" as *;
@use "./rpf_design_system/spacing" as *;

.hero__wrapper {
  background-color: var(--editor-color-layer-1);
}

.hero {
  align-items: center;
  align-self: stretch;
  padding: $space-1-5;
  gap: $space-1;
  // flex: 1 0 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: $space-4;
    padding: $space-5 $space-7-5;
  }

}

.hero__copy {
  // flex: 2;
}

.hero__copy--title {
  @include font-size-3(regular);
  font-weight: $font-weight-regular;

  @media screen and (min-width: 768px) {
    @include font-size-5(regular);
  }
}

.hero__copy--subtitle {
  @include font-size-2(regular);
  font-weight: $font-weight-regular;

  @media screen and (min-width: 768px) {
    @include font-size-3(regular);
  }
}


.hero__image {
  margin-block: $space-2;

  img {
    aspect-ratio: 3/2;
    display: block;
    margin: auto;
    // max-inline-size: 601px;
    max-inline-size: 100%;
    block-size: auto;
  }

  @media screen and (min-width: 768px) {
    
    margin-inline-start: auto;
    min-inline-size: 600px;

    img {
      inline-size: unset;
      margin: unset;
    }
  }
}

.hero__buttons {
  @include font-size-1-25(regular);    
  gap: $space-1;
  display: flex;
  flex-direction: column;


  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  a {
   inline-size: -webkit-fill-available;
   justify-content: center;
   align-items: center;

    @media screen and (min-width: 768px) {
      inline-size: fit-content;
    }
  }
}
