@use './rpf_design_system/colours' as *;
@use './rpf_design_system/mixins' as *;

.htmlrunner-container {
  container-type: inline-size;
  display: flex;
  block-size: 100%;
  inline-size: 100%;
}

a.htmlrunner-link {
  display: var(--editor-htmlrunner-link-display, inline-flex);
  margin-inline-start: auto;
}

.htmlrunner-link__text {
  @container (max-width: 480px) {
    display: none;
  }
}

.htmlrunner-iframe {
  border: none;
  background-color: $rpf-white;
  block-size: 100%;
  inline-size: 100%;
}

.htmlrenderer-root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-block-size: 0;
  block-size: 100%;
  inline-size: 100%;

  .htmlrunner-iframe {
    flex: 1 1 auto;
    min-block-size: 0;
    block-size: auto;
  }
}
