@use "./rpf_design_system/colours" as *;
@use "./rpf_design_system/spacing" as *;
@use "./settings/fonts" as fonts;

html,
body {
  margin: 0;
}

:root {
  --editor-font-family-sans-serif: fonts.$font-family-sans-serif;
  --editor-font-family-monospace: fonts.$font-family-monospace;
}

body {
  font-family: var(--editor-font-family-sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--editor-font-family-monospace);
}

#app {
  min-block-size: 100dvh;
}

.select-buttons__tick--selected {
  --rpf-select-buttons-tick-color: var(--rpf-black);
}

.modal-overlay {
  --rpf-input-active-border: var(--editor-color-theme);
}

.project-wrapper {
  --project-wrapper-grid-gap: #{$space-0-5};
}

.proj-editor-wrapper {
  --project-editor-wrapper-grid-gap: #{$space-1};
}

.project-instructions {
  pre {
    --code-block-scrollbar-color: auto;
    --code-background-color: #{$rpf-grey-700};
    --code-text-color: #{$rpf-white};
  }

  .line-highlight {
    --code-block-line-highlight-color: #{$rpf-white};
  }
}

.btn--tertiary {
  &:hover,
  .btn-outer:hover & {
    --tertiary-btn-hover-color: inherit;
  }
}
