@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/font-size" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/colours" as *;

.info-panel {
  border-radius: $space-0-5;
  padding: $space-1;
  margin-block-end: $space-0-5;

  p {
    margin: 0;
  }
}

.info-panel__links {
  display: flex;
  flex-direction: column;

  a, button {
    @include font-size-1(regular);
    font-family: inherit;
    font-weight: $font-weight-bold;
    text-decoration: underline;
  }

  button {
    border: 3px solid transparent;
  }

  p {
    margin-block-start: $space-1;
  }
}

.--dark {
  .info-panel {
    color: $rpf-text-primary-darkmode;
    background-color: $rpf-grey-600;
  }

  .info-panel__links a,
  .info-panel__links button {
    color: $rpf-text-primary-darkmode;
  }
}

.--light {
  .info-panel {
    color: $rpf-text-primary;
    background-color: $rpf-grey-50;
  }

  .info-panel__links a,
  .info-panel__links button {
    color: $rpf-text-primary;
  }
}
