@use "../../../node_modules/@raspberrypifoundation/design-system-core/scss/components/squiggle.scss"
  as *;
@use "../../../node_modules/@raspberrypifoundation/design-system-core/scss/mixins/typography";
@use "./rpf_design_system/colours" as *;
@use "./rpf_design_system/spacing" as *;

.project-instructions {
  block-size: 100%;

  h2 {
    @include typography.style-1-5(bold);
    margin: 0;
  }

  p {
    @include typography.style-1();
  }

  a {
    color: var(--editor-color-theme-secondary);
  }

  strong {
    font-weight: var(--font-weight-bold);
  }

  img {
    max-inline-size: 100%;
  }

  table {
    border-collapse: collapse;
    margin-block-end: $space-1-5;
    inline-size: 100%;

    tr {
      border-block-end: 1px solid $rpf-black;
    }

    td {
      padding: $space-0-5 $space-1-5;
    }
  }

  code {
    color: $rpf-white;
    background-color: $rpf-grey-700;
    border-radius: 8px;
    padding: calc(0.75 * $space-0-125) $space-0-5;
  }

  pre {
    @include typography.style-1();

    background-color: var(--code-background-color, #{$rpf-grey-700});
    border: 1px solid var(--code-block-border-color, #{$rpf-grey-600});
    border-radius: 8px;
    padding: $space-0-5 $space-1;
    overflow: auto;
    margin: $space-1 0;
    scrollbar-color: var(--code-block-scrollbar-color, auto);

    code {
      padding-inline: 0;
      background-color: var(--code-background-color, #{$rpf-grey-700});
      color: var(--code-text-color, #{$rpf-white});
    }
  }

  .c-project-code {
    background-color: $rpf-grey-700;
    border-radius: 8px;
    margin: $space-1 0 $space-1-5 0;

    pre {
      margin: 0;
    }

    code {
      padding-inline-start: 0;
    }
  }

  .c-code-filename {
    font-family: var(--wc-font-family-monospace);
    margin: 0;
    padding: $space-0-5 $space-1;
    color: $rpf-white;
    background-color: $rpf-grey-800;
    border-start-start-radius: 8px;
    border-start-end-radius: 8px;
    border-block-end: 1px solid $rpf-grey-600;
  }

  .line-numbers {
    padding-inline-start: $space-3;
    padding-inline-end: $space-1;
  }

  .line-numbers-rows {
    border-color: $rpf-text-secondary-dark;

    span::before {
      padding-inline-end: $space-0-5;
      color: $rpf-text-secondary-dark;
    }
  }

  .line-highlight {
    margin-block-start: 0.5rem;
    background-color: var(--code-block-line-highlight-color, #{$rpf-white});
    mix-blend-mode: difference;
    min-inline-size: 100%;
  }

  .language-python {
    .number,
    .boolean {
      color: var(--code-syntax-1, #{$rpf-syntax-1});
    }
    .function {
      color: var(--code-syntax-5, #{$rpf-syntax-1});
    }
    .keyword {
      color: var(--code-syntax-4, #{$rpf-syntax-4});
    }
    .string,
    .char {
      color: var(--code-syntax-2, #{$rpf-syntax-2});
    }
    .comment {
      color: var(--code-syntax-3, #{$rpf-syntax-3});
    }

    .keyword-print {
      color: var(--code-print-color, #{$rpf-white});
    }
  }

  .language-javascript {
    .number,
    .boolean {
      color: var(--code-syntax-1, #{$rpf-syntax-1});
    }
    .keyword {
      color: var(--code-syntax-4, #{$rpf-syntax-4});
    }
    .string,
    .char {
      color: var(--code-syntax-2, #{$rpf-syntax-2});
    }
    .comment {
      color: var(--code-syntax-3, #{$rpf-syntax-3});
    }

    .keyword-print {
      color: var(--code-print-color, #{$rpf-white});
    }
  }

  .language-css {
    color: var(--code-syntax-1, #{$rpf-syntax-1});

    .comment {
      color: var(--code-syntax-3, #{$rpf-syntax-3});
    }
    .selector {
      color: var(--code-syntax-4, #{$rpf-syntax-4});
    }

    .function {
      color: var(--code-syntax-4, #{$rpf-syntax-4});
    }

    .property,
    .punctuation {
      color: var(--code-print-color, #{$rpf-white});
    }
  }

  .language-html {
    .tag {
      color: var(--code-syntax-4, #{$rpf-syntax-4});
      .punctuation,
      .attr-name {
        color: var(--code-print-color, #{$rpf-white});
      }

      .attr-value {
        color: var(--code-syntax-2, #{$rpf-syntax-2});
        .punctuation {
          color: inherit;
        }
        .attr-equals {
          color: var(--code-print-color, #{$rpf-white});
        }
      }
    }

    .comment {
      color: var(--code-syntax-3, #{$rpf-syntax-3});
    }
  }

  .c-project-heading--task {
    @extend .rpf-squiggle-heading;
    --rpf-squiggle-color: var(--rpf-blue-800);
    background-color: $rpf-blue-100;
    padding: $space-1;
    inline-size: 100%;
    box-sizing: border-box;
    border-start-start-radius: 8px;
    border-start-end-radius: 8px;

    &::after {
      margin-inline: $space-1;
      margin-block-start: $space-0-25;
    }
  }

  .c-project-task {
    background-color: $rpf-blue-100;
    padding: $space-1;
    display: flex;
    flex-direction: column;
    gap: $space-1;
    border-end-start-radius: 8px;
    border-end-end-radius: 8px;
    margin-block-end: $space-1-5;

    p {
      margin: 0;
    }

    &__checkbox {
      display: none;
    }
  }

  .c-project-callout {
    background-color: $rpf-blue-100;
    border-inline-start: 4px solid $rpf-blue-800;
    padding: $space-0-5 $space-1;
    display: flex;
    flex-direction: column;
    gap: $space-0-5;
    margin: $space-1-5 0;

    h3 {
      @include typography.style-1(bold);

      margin: 0;
      padding-inline-start: $space-2;
      background-repeat: no-repeat;
      background-position: inline-start $space-0-5 center;
    }

    p {
      margin: 0;
    }
  }

  .c-project-callout--tip {
    background-color: $rpf-green-100;
    border-inline-start: 4px solid $rpf-green-800;

    h3 {
      background-image: url("../tip.svg");
    }
  }

  .c-project-callout--debug {
    background-color: $rpf-red-100;
    border-inline-start: 4px solid $rpf-red-800;

    h3 {
      background-image: url("../bug.svg");
    }
  }

  .c-project-output {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    padding: $space-1;
    border-radius: 8px;
    border: 1px solid var(--rpf-grey-150);
    margin-block-end: $space-1-5;

    pre {
      background-color: $rpf-white;
      border: none;
      inline-size: 100%;
      margin: 0;
      padding: 0;
    }

    code {
      background-color: $rpf-white;
      color: $rpf-text-primary;
      padding: 0;
      white-space: pre-wrap;
    }
  }

  .project-instructions__empty {
    background-color: var(--editor-color-layer-1);
    border-radius: $space-0-5;
    display: flex;
    flex-direction: column;
    gap: $space-1-5;
    padding: $space-1;
  }

  .project-instructions__empty-text {
    margin: 0;
  }
}

.--dark .project-instructions {
  pre {
    background-color: $rpf-grey-850;
  }
  code {
    background-color: $rpf-grey-850;
  }
}

#app,
#wc {
  .c-instruction-tabs {
    display: flex;
    flex-direction: column;
    block-size: 100%;

    .react-tabs {
      border: 1px solid var(--editor-color-outline);

      .react-tabs__tab-list {
        border-block-end: 1px solid var(--editor-color-outline);
      }
    }

    .react-tabs__tab {
      background: var(--editor-color-tab-background);
      padding-inline: var(--space-1-5);

      &--selected {
        background: var(--editor-color-layer-3);
      }
    }

    .react-tabs__tab-panel {
      .project-instructions {
        padding-inline: var(--space-1);
      }
    }

    textarea {
      @include typography.style-1();

      background: var(--editor-color-layer-3);
      color: var(--editor-color-text);
      border: none;
      block-size: 100%;
      overflow-block: scroll;
      padding: var(--space-1);
    }
  }
}
