@use "../../../node_modules/react-toastify/scss/main.scss" as *;

@use "./rpf_design_system/colours" as *;
@use "./rpf_design_system/font-size" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/spacing";

@use "./App" as *;
@use "./Tabs" as *;
@use "./Notifications.scss" as *;
@use "./Project" as *;
@use "./ProjectBar" as *;
@use "./MobileProject" as *;
@use "./DraggableTabs" as *;
@use "./ResizableWithHandle" as *;
@use "./Modal.scss" as *;
@use "./EditorInput" as *;
@use "./EditorPanel" as *;
@use "./Sidebar" as *;
@use "./Instructions" as *;
@use "./ProjectsPanel" as *;
@use "./ProjectName" as *;
@use "./ProjectInfo" as *;
@use "./DownloadPanel";
@use "./SettingsPanel" as *;
@use "./SelectButtons" as *;
@use "./InfoPanel" as *;
@use "./ProgressBar" as *;
@use "./RunBar" as *;
@use "./RunnerControls" as *;
@use "./PythonRunner" as *;
@use "./HtmlRunner" as *;
@use "./ErrorMessage" as *;
@use "./OutputViewToggle" as *;
@use "./AstroPiModel" as *;
@use "./MobileProjectBar" as *;
@use "./ProjectBar" as *;
@use "./Button" as *;
@use "./DesignSystemButton" as *;
@use "./SaveStatus" as *;
@use "./ContextMenu" as *;
@use "./FilePanel" as *; // needs to be below Button

:host {
  font-size: 1.6rem;
}

#wc {
  background: var(--editor-secondary-theme, transparent);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: column;
  block-size: 100%;

  .proj {
    min-block-size: 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  all: initial;
  font-size: inherit;
}

svg {
  min-inline-size: fit-content;
}

button:focus-visible {
  outline: 2px solid $rpf-black;
}

//override for a pesky teal icon
.select-buttons__tick--selected {
  svg {
    path {
      fill: var(--editor-color-layer-2);
    }
  }
}


.--light {
  --editor-color-layer-1: #{$rpf-teal-100};
  --editor-color-layer-2: #{$rpf-white};
  --editor-color-layer-3: #{$rpf-white};
  --editor-color-outline: #{$rpf-grey-150};
  //theme change to match WC navy colors
  --editor-color-theme: #{$rpf-navy-800};
  --editor-color-theme-secondary: #{$rpf-teal-900};
  --editor-color-theme-tertiary: #{$rpf-teal-100};
  --editor-color-text: #{$rpf-text-primary};
  --editor-color-text-secondary: #{$rpf-text-secondary};
}

.--dark {
  --editor-color-layer-1: #{$rpf-grey-850};
  --editor-color-layer-2: #{$rpf-white};
  --editor-color-layer-3: #{$rpf-grey-700};
  --editor-color-outline: #{$rpf-grey-600};
  --editor-color-theme: #{$rpf-navy-800};
  --editor-color-theme-secondary: #{$rpf-teal-400};
  --editor-color-theme-tertiary: #{$rpf-teal-900};
  --editor-color-text: #{$rpf-white};
  --editor-color-text-secondary: #{$rpf-text-secondary-darkmode};
  --rpf-button-secondary-text-color: #{$rpf-white};

  .rpf-button--secondary {
    border-color: $rpf-navy-800;}
}
