@use "./rpf_design_system/colours" as *;
@use "./rpf_design_system/font-size" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/spacing";

@use "./App" as *;
@use "./Tabs" as *;
@use "./Notifications.scss" as *;
@use "./Project" as *;
@use "./ProjectBar" as *;
@use "./MobileProject" as *;
@use "./DraggableTabs" as *;
@use "./ResizableWithHandle" as *;
@use "./Modal.scss" as *;
@use "./EditorInput" as *;
@use "./EditorPanel" as *;
@use "./Sidebar" as *;
@use "./Instructions" as *;
@use "./ProjectsPanel" as *;
@use "./ProjectName" as *;
@use "./ProjectInfo" as *;
@use "./ProjectImages" as *;
@use "./DownloadPanel";
@use "./SettingsPanel" as *;
@use "./SelectButtons" as *;
@use "./InfoPanel" as *;
@use "./ProgressBar" as *;
@use "./RunBar" as *;
@use "./RunnerControls" as *;
@use "./PythonRunner" as *;
@use "./HtmlRunner" as *;
@use "./ErrorMessage" as *;
@use "./OutputViewToggle" as *;
@use "./AstroPiModel" as *;
@use "./MobileProjectBar" as *;
@use "./ProjectBar" as *;
@use "./Button" as *;
@use "./DesignSystemButton" as *;
@use "./SaveStatus" as *;
@use "./ContextMenu" as *;
@use "./FilePanel" as *; // needs to be below Button
@use "./EmbeddedViewer" as *;

@use "./settings/fonts" as fonts;

:host {
  font-size: 1.6rem;
}

#wc {
  // Allow fonts to be overridden by the host application via
  // --editor-font-family-*, falling back to the default sets in
  // settings/fonts.scss
  --wc-font-family-sans-serif: var(--editor-font-family-sans-serif, #{fonts.$font-family-sans-serif});
  --wc-font-family-monospace: var(--editor-font-family-monospace, #{fonts.$font-family-monospace});

  background: var(--editor-secondary-theme, transparent);
  font-family: var(--wc-font-family-sans-serif);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: column;
  block-size: 100%;
  hyphens: auto;
  hyphenate-limit-chars: 10 4 4; // Minimum of 10 characters before hyphenating, minimum of 4 character before and after the hyphen.

  .proj {
    min-block-size: 100%;
  }

  code,
  var,
  kbd,
  samp,
  tt,
  dir,
  listing,
  plaintext,
  xmp,
  abbr,
  acronym,
  blockquote,
  q {
    hyphens: none;
  }
}

code {
  font-family: var(--wc-font-family-monospace);
}

button {
  all: initial;
  font-size: inherit;
}

svg {
  min-inline-size: fit-content;
}

button:focus-visible {
  outline: 2px solid $rpf-black;
}

//override for a pesky teal icon
.select-buttons__tick--selected {
  svg {
    path {
      fill: var(--editor-color-layer-2);
    }
  }
}

.--light {
  --editor-color-layer-1: #{$rpf-teal-100};
  --editor-color-layer-2: #{$rpf-white};
  --editor-color-layer-3: #{$rpf-white};
  --editor-color-outline: #{$rpf-grey-150};
  //theme change to match WC navy colors
  --editor-color-theme: #{$rpf-navy-800};
  --editor-color-theme-secondary: #{$rpf-teal-900};
  --editor-color-theme-tertiary: #{$rpf-teal-100};
  --editor-color-text: #{$rpf-text-primary};
  --editor-color-text-secondary: #{$rpf-text-secondary};
  --editor-color-tab-background: #{$rpf-off-white};
}

.--dark {
  --editor-color-layer-1: #{$rpf-grey-850};
  --editor-color-layer-2: #{$rpf-white};
  --editor-color-layer-3: #{$rpf-grey-700};
  --editor-color-outline: #{$rpf-grey-600};
  --editor-color-theme: #{$rpf-navy-800};
  --editor-color-theme-secondary: #{$rpf-teal-400};
  --editor-color-theme-tertiary: #{$rpf-teal-900};
  --editor-color-text: #{$rpf-white};
  --editor-color-text-secondary: #{$rpf-text-secondary-darkmode};
  --rpf-button-secondary-text-color: #{$rpf-white};
  --editor-color-tab-background: #{$rpf-grey-700};

  .rpf-button--secondary {
    border-color: $rpf-navy-800;
  }
}
