@use "@raspberrypifoundation/design-system-core/scss/properties/spacing.scss";
@use "@raspberrypifoundation/design-system-core/scss/properties/border.scss";
@use "@raspberrypifoundation/design-system-core/scss/properties/colors/greys.scss";
@use "@raspberrypifoundation/design-system-core/scss/properties/colors/alert.scss";

.list {
  --editor-color-border: hsla(223, 9%, 85%, 1);
  background-color: var(--rpf-white);
  padding: var(--space-3);

  &__items {
    border-radius: var(--border-radius);
    border: 1px solid var(--editor-color-border);
    display: flex;
    flex-direction: column;

    &--error {
      align-items: center;
      background-color: var(--rpf-grey-50);
      padding: var(--space-4);
    }
  }

  &__item {
    padding: var(--space-1);

    &:not(:last-child) {
      border-bottom: 1px solid var(--rpf-grey-50);
    }
  }
}
