.loader {
  --loader-color-primary: var(--rpf-teal-800);
  --loader-text-color: var(--rpf-black);
  --loader-speed: 0.8s;

  display: block;
  text-align: center;
  position: absolute;
  inset-block-start: 53%;
  inset-inline-start: 0;
  inline-size: 100%;
  transform: translateY(-50%);

  font-family: monospace;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-1-5);
  color: var(--loader-text-color);
  text-transform: lowercase;
}

.loader:before,
.loader:after {
  display: inline-block;

  color: var(--loader-color-primary);
  font-size: var(--font-size-3);
  font-weight: normal;

  transform: scale(1.2);
}

.loader:before {
  content: "{";
  animation: loader-pulse var(--loader-speed) alternate infinite ease-in-out;
}
.loader:after {
  content: "}";
  animation: loader-pulse var(--loader-speed) var(--loader-speed) alternate
    infinite ease-in-out;
}

@keyframes loader-pulse {
  to {
    transform: scale(1);
    opacity: 0.25;
  }
}

@media (prefers-reduced-motion: reduce) {
  .loader:before,
  .loader:after {
    transform: scale(1);
  }
  @keyframes loader-pulse {
    to {
      opacity: 0.25;
    }
  }
}
