@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/font-size" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/colours" as *;
@use "./rpf_design_system/mixins" as *;

.logo-lm-wrapper {
  display: flex;
  flex-direction: column;
  padding: $space-1-5;
  align-items: center;
  gap: $space-1;
  flex: 1 0 0;
  align-self: stretch;

  @media screen and (min-width: 768px) {
    padding: $space-5 $space-7-5;
    gap: $space-4;
  }

  a {
    border: none;
    font-weight: $font-weight-bold;
  }
}

.logo-lm__text {
  display: flex;
  flex-direction: row;
}

.logo-lm__title {
  @include font-size-1-5(regular);
  margin: $space-1;

  @media screen and (min-width: 768px) {
    @include font-size-4(regular);
  }
}

.logo-lm-__subtitle {
  @include font-size-1-5(regular);
  font-weight: $font-weight-regular;
  margin: $space-1;

  @media screen and (min-width: 768px) {
    @include font-size-4(regular);
  }
}
