@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/font-size" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/colours" as *;
@use "./rpf_design_system/mixins" as *;

.members-page-header {
  padding: var(--space-2);
  background-color: var(--editor-color-layer-3);
  gap: var(--space-3);



  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {
    align-items: center;
    justify-content: space-between;
  }


}

.members-page-header__title {
  font-size: var(--font-size-3);

  @media screen and (min-width: 1200px) {
    font-size: var(--font-size-4);
  }
}

.members-page-header__subtitle{
  font-size: var(--font-size-1-5);
}

.members-page-header__buttons {
  @include font-size-1-25(regular);    
  gap: $space-1;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    align-items: center;
    flex-direction: row;
  }


  a {
   inline-size: -webkit-fill-available;
   justify-content: center;
   align-items: center;

    @media screen and (min-width: 600px) {
      inline-size: fit-content;
    }

    // @media screen and (min-width: 1200px) {
    //   inline-size: auto;
    // }
  }
}
