@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/font-size" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/colours" as *;

#app {
  .toast--bottom-center__message,
  .toast--top-center__message {
    min-height: fit-content;
    padding: $space-0-25 $space-0-5;
    margin-block: 0;
    margin-inline: 0;
  }

  .toast--bottom-center {
    @include font-size-0-75(regular);
    width: fit-content;
    max-width: 100%;
    inset-block-end: 1em;
    padding: 4px;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    .Toastify__toast-icon {
      margin-block: 0;
      margin-inline: $space-0-25 0;
    }
  }
  .toast--bottom-center__message {
    border-radius: 20px;
  }

  .toast--top-center {
    max-width: fit-content;
    width: 100%;
    font-weight: $font-weight-bold;
    inset-block-start: 20%;

    .Toastify__toast-icon {
      width: fit-content;
    }
  }

  .toast--top-center__message {
    border-radius: 25px;
  }

  .toast--info {
    color: $rpf-alert-information;
    border: 2px solid $rpf-alert-information;
    svg {
      fill: $rpf-grey-900;
    }
    .Toastify__toast-icon {
      svg {
        fill: $rpf-alert-information;
      }
    }
  }

  &.--dark {
    .toast--bottom-center__message {
      background-color: $rpf-white;
      color: $rpf-grey-900;
      svg {
        fill: $rpf-grey-900;
      }
    }
  }

  &.--light {
    .toast--bottom-center__message {
      background-color: $rpf-grey-900;
      color: $rpf-white;
      svg {
        fill: $rpf-white;
      }
    }
  }
}
