@use './rpf_design_system/spacing' as *;
@use './rpf_design_system/colours' as *;

.output-view-toggle__button {
  block-size: 100%;
}

.--light .output-view-toggle {
  border-inline-start: 1px solid $rpf-grey-150;
}

.--dark .output-view-toggle {
  border-inline-start: 1px solid $rpf-grey-600;
}
