.password-field {
  display: flex;
}

.password-field__input {
  flex: 1;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

.--light .password-field__button {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  border: 2px solid var(--rpf-black);
  border-inline-start: none;
  color: var(--rpf-navy-800);
  text-decoration: underline;
  width: var(--space-8);

  &:hover {
    color: var(--rpf-nay-900);
  }
}
