@use "./rpf_design_system/spacing" as *;

.progress-bar {
  accent-color: var(--editor-color-theme);
  display: flex;
  align-items: center;
  justify-content: center;
  max-inline-size: 300px;
  margin: auto;

  progress {
    flex: 1;
    min-inline-size: 0px;
  }

  .btn-outer {
    padding: $space-0-5;
  }
}

.step-counter {
  display: var(--display-step-counter, none);
  align-items: center;
  justify-content: center;
  margin: $space-0-5 0 0 0;
}
