@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/font-size" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/colours" as *;

.project-info {
  align-items: inline-start;
  display: flex;
  flex-direction: column;
  padding: $space-1;
  border-radius: $space-0-5;
  border: none;
  background-color: inherit;
}

.project-type__label {
  @include font-size-1(regular);
  font-weight: $font-weight-bold;
  margin-block-end: $space-0-5;
  display: block;
}

.project-type__text {
  @include font-size-1(regular);
  color: inherit;
  text-overflow: ellipsis;
}

.--light {
  .project-info {
    background-color: $rpf-grey-50;
  }
}

.--dark {
  .project-info {
    background-color: $rpf-grey-600;
  }
}
