@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/colours" as *;

.project-bar {
  border-radius: var(--border-radius);
  padding: 0 var(--space-1-5);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
  container-type: inline-size;
  background-color: var(--editor-color-layer-3);
  border: 1px solid var(--editor-color-outline);

  * {
    box-sizing: border-box;
  }

  .project-name {
    padding-block: var(--space-1);
  }
}

.project-bar__right {
  display: flex;
  align-items: center;
  gap: 0 var(--space-1);
  flex-wrap: wrap;
}
