@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/colours" as *;

.project-bar {
  border-radius: $space-0-5;
  display: flex;
  align-items: center;
  z-index: 1;
  height: $space-4;
  container-type: inline-size;

  &__right {
    margin-inline-start: auto;
    display: flex;
    align-items: center;
    height: 100%;
    flex-shrink: 0;
  }

  .btn--save {
    @container (min-width: 560px) {
      .icon {
        display: none;
      }
    }
  }

  .project-bar__btn-wrapper:not(:last-child) {
    border-inline-end: 1px solid $rpf-grey-150;
  }
}

.project-bar__btn {
  justify-content: center;

  margin: $space-0-5;
  gap: $space-0-5;

  .text {
    display: none;
  }

  @container (min-width: 560px) {
    .text {
      min-width: auto;
      display: block;
    }
  }
}

.--light {
  .project-bar {
    background-color: $rpf-white;
    border: 1px solid $rpf-grey-150;

    .project-name {
      border-inline-end: 1px solid $rpf-grey-150;
    }
  }

  .project-bar__right {
    border-inline-start: 1px solid $rpf-grey-150;
  }
}

.--dark {
  .project-bar {
    background-color: $rpf-grey-700;
    border: 1px solid $rpf-grey-600;

    .project-name {
      border-inline-end: 1px solid $rpf-grey-600;
    }
  }
  .project-bar__right {
    border-inline-start: 1px solid $rpf-grey-600;
  }
}
