@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/colours" as *;

.project-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, 135px);
  justify-content: center;
  gap: $space-1;

  &__block {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: center;
    vertical-align: block-start;
  }

  &__image-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  &__image {
    inline-size: 100%;
  }

  p {
    margin: 0;
  }
}
