@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/colours" as *;

.project-bar {
  border-radius: $space-0-5;
  display: flex;
  align-items: center;
  z-index: 1;
  container-type: inline-size;
  background-color: var(--editor-color-layer-3);
  border: 1px solid var(--editor-color-outline);

  @container (max-width: 367px) {
    flex-direction: column;
    block-size: fit-content;
    justify-content: left;
  }

  .project-name {
    border-inline-end: 1px solid var(--editor-color-outline);
    margin-inline-end: -1px;
    min-inline-size: 0px;

    @container (max-width: 365px) {
      inline-size: 100%;
      box-sizing: border-box;
      border-inline-end: none;
    }
  }

  .btn--save {
    border-radius: $space-0-5;
    @container (min-width: 560px) {
      .icon {
        display: none;
      }
    }
  }

  .project-bar__btn-wrapper {
    display: flex;
    block-size:  100%;
  }

  .project-bar__btn-wrapper:not(:last-child) {
    border-inline-end: 1px solid var(--editor-color-outline);
  }
}

.project-bar__right {
  border-inline-start: 1px solid var(--editor-color-outline);
  margin-inline-start: auto;
  display: flex;
  align-items: center;
  block-size: 100%;
  flex-shrink: 0;
  max-inline-size: 55%;

  @container (max-width: 365px) {
    margin-inline-start: 0;
    border-inline-start: none;
    border-block-start: 1px solid var(--editor-color-outline);
    block-size: fit-content;
    inline-size: 100%;
    max-inline-size: 100%;

    .save-status {
      flex: 1;
      justify-content: center;
    }
  }
}

.project-bar__btn {
  border-radius: $space-0-5;
  justify-content: center;

  margin: $space-0-5;
  gap: $space-0-5;

  .text {
    display: none;
  }

  &:hover & {
    border-radius: inherit;
  }

  @container (min-width: 560px) {
    .text {
      min-inline-size: auto;
      display: block;
    }
  }
}
