@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/font-size" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/colours" as *;

.project-name {
  align-items: center;
  display: flex;
  block-size: 100%;
  padding-inline-start: $space-0-5;
}

.project-name__title {
  @include font-size-1-25(bold);
  font-weight: $font-weight-bold;
  margin-block: $space-1;
  margin-inline-start: $space-0-5;
  margin-inline-end: $space-1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.project-name__label {
  @include font-size-1(regular);
  font-weight: $font-weight-bold;
  margin-block-end: $space-0-5;
  display: block;
}

.project-name__input {
  @include font-size-1(regular);
  padding: 0 $space-1-5;
  block-size: $space-3;
  border-radius: $space-0-5;
  border: none;
  color: inherit;
  background-color: inherit;
  text-overflow: ellipsis;
  inline-size: 100%;
}

.project-name__button {
  margin: $space-0-5;
  inline-size: 48px;
  block-size: 48px;

  svg {
    block-size: $space-1-5;
    inline-size: $space-1-5;
    margin: 0;
  }
}

.--dark {
  .project-name__input {
    background-color: $rpf-grey-600;

    &:focus-visible {
      background-color: inherit;
      outline: 2px solid $rpf-white;
    }
  }
}

.--light {
  .project-name__input {
    background-color: $rpf-grey-50;

    &:focus-visible {
      background-color: inherit;
      outline: 2px solid $rpf-text-primary;
    }
  }
}
