@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/colours" as *;
@use "./rpf_design_system/mixins" as *;

.editor-project-header {
  &__inner {
    box-sizing: border-box;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: $space-2;
    margin: 0 auto;
    inline-size: 100%;
    max-inline-size: 1570px;

    @include md-width {
      align-items: flex-end;
      flex-direction: row;
      padding: $space-3;
    }

    @include unique-width(1670px) {
      padding: $space-3 0;
    }
  }

  h1 {
    margin: $space-0-5 0;
  }

  h3 {
    @include md-width {
      margin-block-end: 0;
    }
  }

  &__action {
    @include md-width {
      margin-inline-start: auto;
    }

    .btn {
      margin: 0;
    }
  }

  .--dark & {
    background: $rpf-grey-600;
  }

  .--light & {
    background: $rpf-white;
  }
}
