// Default styles

:host {
  font-size: 1.6rem;
}

#wc {
  background: var(--editor-secondary-theme, transparent);
  font-family: var(--editor-font-family-sans-serif);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: column;
  block-size: 100%;
  hyphens: auto;
  hyphenate-limit-chars: 10 4 4; // Minimum of 10 characters before hyphenating, minimum of 4 character before and after the hyphen.

  .proj {
    min-block-size: 100%;
  }

  code,
  var,
  kbd,
  samp,
  tt,
  dir,
  listing,
  plaintext,
  xmp,
  abbr,
  acronym,
  blockquote,
  q {
    hyphens: none;
  }
}

code {
  font-family: var(--editor-font-family-monospace);
}

button {
  all: initial;
  font-size: inherit;
}

svg {
  min-inline-size: fit-content;
}
