.resizable-with-handle__handle--right div {
  /* stylelint-disable-next-line csstools/use-logical */
  right: 3px !important;

  svg {
    block-size: 100%;
    min-inline-size: 0;
  }
}

.resizable-with-handle__handle--bottom div {
  /* stylelint-disable-next-line csstools/use-logical */
  bottom: 3px !important;

  svg {
    inline-size: 100%;
  }
}
