.resizable-with-handle__handle--right div {
  inset-inline-end: 3px !important;

  svg {
    block-size: 100%;
    min-inline-size: 0;
  }
}

.resizable-with-handle__handle--bottom div {
  inset-block-end: 3px !important;

  svg {
    inline-size: 100%;
  }
}
