@use "./rpf_design_system/spacing" as *;

.runner-controls {
  display: flex;
  align-items: center;
  padding: 0 $space-0-5;

  .run-btn {
    border-radius: var(--run-button-radius, $space-0-5);
    &:hover {
      border-radius: var(--run-button-radius, $space-0-5);
    }
  }
}
