.school-dashboard__header {
  display: flex;
  flex-direction: column;
  background-color: var(--rpf-white);
  padding: var(--space-4);
  gap: var(--space-3);
}

.school-dashboard__header-content {
  display: flex;
  justify-content: space-between;
}

.school-dashboard__header-title {
  margin: 0;
}

.school-dashboard__header-actions {
  display: flex;
  gap: var(--space-2);
}

.school-dashboard__header-home-link {
  background-color: var(--rpf-off-white);
  border-radius: var(--space-1);
  color: var(--rpf-black);
  display: flex;
  font-weight: var(--font-weight-bold);
  padding: var(--space-1);
  padding-inline-end: var(--space-2);
  text-decoration: none;
  width: fit-content;
}
