@use './rpf_design_system/colours' as *;
@use './rpf_design_system/font-size' as *;
@use './rpf_design_system/font-weight' as *;
@use './rpf_design_system/spacing' as *;
@use './rpf_design_system/mixins' as *;

.select-buttons {
  border: none;
  margin: 0;
  padding: 0;
}

.select-buttons__legend {
  padding: 0;
  margin-bottom: $space-1;
}

.select-buttons__options {
  display: flex;
  width: 100%;
  gap: $space-1;
  flex-wrap: wrap;
}

.select-buttons__option {
  flex: 1;
}

.select-buttons__button {
  opacity: 0;
  position: absolute;
}

.select-buttons__label {
  display: flex;
  align-items: center;
  padding: $space-0-75;
  gap: $space-0-75;
  border-radius: 8px;
  position: relative;
  box-sizing: border-box;
  font-weight: $font-weight-bold;
  cursor: pointer;
}

.select-buttons__tick {
  display: flex;
  align-items: center;
  margin-left: auto;
  visibility: hidden;
}

.select-buttons__tick--selected {
  visibility: visible;
}

.--light {
  .select-buttons__label {
    border: 2px solid $rpf-grey-150;
  }

  .select-buttons__label--selected {
    border: 2px solid $rpf-text-primary;
  }
}

.--dark {
  .select-buttons__label {
    border: 2px solid $rpf-grey-500;
  }

  .select-buttons__label--selected {
    border: 2px solid $rpf-grey-300;
  }
}

.select-buttons__button:focus-visible + .select-buttons__label {
  outline: 3px solid $rpf-brand-raspberry;
}
