@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/font-size" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/colours" as *;

.settings-panel {
  font-family: sans-serif;
  padding: $space-0-5;
  margin-block-end: $space-0-5;
  display: flex;
  flex-direction: column;
  gap: $space-0-5;

  h3 {
    font-weight: $font-weight-bold;
    margin-block: 0 $space-0-5;
    margin-inline: 0;
  }

  button {
    font-family: sans-serif;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: $space-0-5;
  }
}

.--light {
  .settings-panel {
    color: $rpf-text-primary;
  }
}

.--dark {
  .settings-panel {
    color: $rpf-white;
  }
}
