@use './rpf_design_system/spacing' as *;
@use './rpf_design_system/font-weight' as *;
@use './rpf_design_system/colours' as *;

#app,
#wc {
  .react-tabs {
    flex: 1;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    position: relative;
    border-radius: 8px;

    &__tab {
      border: none;
      background-color: transparent;
      padding: 0;
      margin: 0;
      top: 0;
      bottom: 0;
      height: $space-3;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: $font-weight-bold;

      svg {
        padding: 0 0 0 $space-0-75;
      }

      &:hover {
        text-decoration: underline;
      }

      &--selected {
        border-radius: 0;
        padding-top: $space-0-25;

        &:hover {
          text-decoration: none;
        }

        &:focus-visible {
          padding-top: 7px;
        }
      }

      &:focus {
        box-shadow: none;
      }

      &:focus-visible {
        outline-offset: -3px;
        outline: 3px solid $rpf-brand-raspberry;
      }

      &:focus:after {
        display: none;
      }
    }

    &__tab-text {
      height: fit-content;
      width: fit-content;
      margin: 0;
      padding: 0 $space-0-75;
      white-space: nowrap;

      &--split {
        padding-right: 0;
      }
    }
    &__tab-close-btn {
      height: 100%;
      padding: $space-0-25;
      background-color: transparent;

      svg {
        padding: $space-0-5;
        border-radius: 8px;
      }

      &:focus-visible {
        border: 0;

        svg {
          border: 3px solid $rpf-brand-raspberry;
        }
      }
    }

    &__tab-container {
      display: flex;
      height: fit-content;
    }

    &__tab-list {
      border-bottom: none;
      box-sizing: border-box;
      display: flex;
      overflow-y: hidden;
      margin: 0;
      padding: 0 $space-0-25 0 0;
    }

    &__tab-panel--selected {
      flex: 1;
      display: flex;
      flex-flow: column;
      overflow-y: auto;
    }
  }

  &.--light {
    .react-tabs {

      &__tab-container {
        border-bottom: 1px solid $rpf-grey-150;
      }

      &__tab {
        background-color: $rpf-off-white;
        border-right: 1px solid $rpf-grey-150;

        &--selected {
          background-color: $rpf-white;
          border-bottom: 4px solid $rpf-teal-900;

          &:focus-visible {
            border-bottom: 7px solid $rpf-teal-900;
          }
        }

        &-close-btn {
          &:hover {
            svg {
              background-color: $rpf-grey-100;
            }
          }
        }
      }
    }
  }

  &.--dark {
    .react-tabs {
      background-color: $rpf-grey-800;

      &__tab-container {
        border-bottom: 1px solid $rpf-grey-600;
      }

      &__tab {
        background-color: $rpf-grey-800;
        border-right: 1px solid $rpf-grey-600;

        &--selected {
          color: $rpf-white;
          background-color: $rpf-grey-700;
          border-bottom: 4px solid $rpf-teal-800;

          &:focus-visible {
            border-bottom: 7px solid $rpf-teal-800;
          }
        }

        &-close-btn {
          &:hover {
            svg {
              background-color: $rpf-grey-900;
            }
          }
        }
      }
    }
  }
}
