@use "./rpf_design_system/spacing" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/colours" as *;

#app,
#wc {
  .react-tabs {
    flex: 1;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    position: relative;
    border-radius: 8px;

    &__tab {
      border: none;
      background-color: transparent;
      padding: 0;
      margin: 0;
      inset-block-start: 0;
      inset-block-end: 0;
      block-size: $space-3;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: $font-weight-bold;

      svg {
        padding: 0 0 0 $space-0-75;
      }

      &:hover {
        text-decoration: underline;
      }

      &--selected {
        border-radius: 0;
        padding-block-start: $space-0-25;

        &:hover {
          text-decoration: none;
        }

        &:focus-visible {
          padding-block-start: 7px;
        }
      }

      &:focus {
        box-shadow: none;
      }

      &:focus-visible {
        outline-offset: -3px;
        outline: 3px solid $rpf-brand-raspberry;
      }

      &:focus:after {
        display: none;
      }
    }

    &__tab-text {
      block-size: fit-content;
      inline-size: fit-content;
      margin: 0;
      padding: 0 $space-0-75;
      white-space: nowrap;

      &--split {
        padding-inline-end: 0;
      }
    }

    &__tab-close-btn {
      block-size: 100%;
      padding: $space-0-25;
      background-color: transparent;

      svg {
        padding: $space-0-5;
        border-radius: 8px;
      }

      &:focus-visible {
        border: 0;

        svg {
          border: 3px solid $rpf-brand-raspberry;
        }
      }
    }

    &__tab-container {
      display: flex;
      block-size: fit-content;
    }

    &__tab-list {
      border-block-end: none;
      box-sizing: border-box;
      display: flex;
      overflow-y: hidden;
      margin: 0;
      padding: 0 $space-0-25 0 0;
    }

    &__tab-container--hidden {
      display: none;
    }

    &__tab-panel--selected {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }
  }

  .react-tabs {
    &__tab-container {
      border-block-end: 1px solid var(--editor-color-outline);
    }

    &__tab {
      background-color: var(--rpf-tab-button-background);
      border-inline-end: 1px solid var(--editor-color-outline);

      &--selected {
        color: var(--editor-color-text);
        background-color: var(--editor-color-layer-3);
        border-block-end: 4px solid var(--rpf-tab-border-bottom-selected);

        &:focus-visible {
          border-block-end: 7px solid var(--rpf-tab-border-bottom-selected);
        }
      }

      &-close-btn {
        &:hover {
          svg {
            background-color: var(--rpf-tab-button-hover);
          }
        }
      }
    }
  }
}
