@use "./rpf_design_system/colours" as *;
@use "./rpf_design_system/font-size" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/mixins" as *;
@use "./rpf_design_system/spacing" as *;

.text-image-slice {
  inline-size: 100%;
  margin: 0 $space-1-5;
  max-inline-size: 368px;
  padding: 0 $space-1-5;


  @include md-width {    
    display: flex;
    gap: $space-4;
    max-inline-size: 1000px;
    padding: $space-3 $space-7-5;
  }

  h2 {
    @include font-size-1-5(regular);
    font-weight: $font-weight-bold;

    @include md-width {    
      @include font-size-2(regular);
    }
  
  }
}

.text-image-slice__content {
  margin: $space-1-5 0;
  flex: 1;
}

.text-image-slice__image {
  max-width: 100%;
  overflow: hidden; 
  flex: 1;

  img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
  }

  @include md-width {    
    img {
      aspect-ratio: 3/2; 
    }
  }
}

.text-image-slice--left {
  flex-direction: row;
}

.text-image-slice--right {
  flex-direction: row-reverse;
}

.text-image-slice__text--link {
  @include font-size-1-5(regular);
  font-weight: $font-weight-bold;
}

/* Dark mode */

.--light {
  .text-image-slice {
    background-color: $rpf-white;
  }

}

.--dark {
  .text-image-slice {
    background-color: $rpf-grey-900;
  }
}
