@use "./rpf_design_system/colours" as *;
@use "./rpf_design_system/font-size" as *;
@use "./rpf_design_system/font-weight" as *;
@use "./rpf_design_system/mixins" as *;
@use "./rpf_design_system/spacing" as *;

.text-image-slice {
  inline-size: 100%;
  margin: 0 $space-1-5;
  max-inline-size: 368px;
  padding: 0 $space-1-5;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: $space-4;
    max-inline-size: 1000px;
    padding: $space-5 $space-7-5;
  }

  h2 {
    @include font-size-1-5(regular);
    font-weight: $font-weight-bold;

    @media screen and (min-width: 768px) {
      @include font-size-2(regular);
    }
  }
}

.text-image-slice__content {
  margin: $space-1-5 0;
}

.text-image-slice__image {
  background-color: $rpf-grey-300;
  border-radius: $space-1-5;
  display: flex;

  img {
    aspect-ratio: 3/2;
    display: block;
    max-inline-size: 100%;
    margin: auto;
    block-size: auto;
  }

  @media screen and (min-width: 768px) {
    margin-inline-start: auto;

    // img {
    //   inline-size: unset;
    //   margin: unset;
    // }
  }
}


.text-image-slice--left {
  flex-direction: row;
}

.text-image-slice--right {
  flex-direction: row-reverse;
}

.text-image-slice__text--link {
  @include font-size-1-5(regular);
  font-weight: $font-weight-bold;
}

/* Dark mode */

.--light {
  .text-image-slice {
    background-color: $rpf-white;
  }

}

.--dark {
  .text-image-slice {
    background-color: $rpf-grey-900;
  }
}
