name: CI-CD

on:
  push:
    branches:
      - "**"
    tags:
      - "**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable corepack
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: corepack enable

      - name: Cache dependencies
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn

      - name: Install code
        run: yarn install --immutable

      - name: eslint
        run: yarn lint

      # - name: stylelint
      #   run: yarn stylelint

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable corepack
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: corepack enable

      - name: Cache dependencies
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn

      - name: Install code
        run: yarn install --immutable

      - name: Run tests
        run: yarn run test --coverage --maxWorkers=4 --workerThreads=true --reporters=default --reporters=jest-junit --reporters=jest-github-actions-reporter
        env:
          JEST_JUNIT_OUTPUT_DIR: ./coverage/

      - name: Record coverage
        run: ./.github/workflows/record_coverage
        env:
          GITHUB_TOKEN: ${{ github.token }}

  test-cypress:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable corepack
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: corepack enable

      - name: Cache dependencies
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn

      - name: Install code
        run: yarn install --immutable

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          install: false
          start: yarn start
          wait-on: "http://localhost:3012"
        env:
          REACT_APP_API_ENDPOINT: "https://staging-editor-api.raspberrypi.org"
          REACT_APP_EDITOR_WEB_COMPONENT_URL: "https://staging-editor-static.raspberrypi.org"
          PUBLIC_URL: "http://localhost:3012"

      - name: Archive cypress artifacts
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-artifacts
          path: |
            cypress/screenshots
